Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy, version-number

.pre-commit-config.yaml:

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint-errors, pylint-warnings,version-number]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]
    - id: check-yaml
    - id: check-added-large-files
    - id: forbid-new-submodules

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.31.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']

- repo: https://github.com/ikamensh/flynt/
  rev: '0.69'
  hooks:
  -   id: flynt
      args: [
          '--line-length=120',
          '--fail-on-change',
      ]

- repo: local
  hooks:

  - id: pylint-errors
    name: pylint-errors
    entry: pylint
    args: [-d, W, -d, R, -d, C]
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: pylint-warnings
    name: pylint-warnings
    entry: pylint
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    files: >-
        (?x)^(
            masci_tools/io/parsers/fleur/fleur_schema/.*py|
        )$


  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.py|
        utils/validate_version_consistency.py|
        masci_tools/__init__.py|
        .bumpversion.cfg
      )$
    pass_filenames: false

Move convergence plot tests to unified directory
  tests/files/mpl-baseline/test_convergence_defaults.png
  tests/files/mpl-baseline/test_convergence_param_change.png
  tests/vis/conftest.py
  tests/vis/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move convergence_multi test to unified directory
  tests/files/mpl-baseline/test_convergence_multi_defaults.png
  tests/vis/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Delete useless test classes in test_bokeh_plots
  tests/vis/test_bokeh_plots.py
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_lattice_constant_defaults_multi.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_lattice_constant_defaults_multi_fit.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_lattice_constant_defaults_single.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_lattice_constant_defaults_single_fit.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_line_default_no_data_line.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_line_multi_deprecated_signature_line.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_multi_scatter_default_no_data.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_multi_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_default.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_legend.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_limits.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_param_change.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_straight_lines.yml
Due: pylint-errors, pylint-warnings

Move lattice_constant tests to unified directory
  tests/files/mpl-baseline/test_lattice_constant_defaults_multi.png
  tests/files/mpl-baseline/test_lattice_constant_defaults_multi_fit.png
  tests/files/mpl-baseline/test_lattice_constant_defaults_single.png
  tests/files/mpl-baseline/test_lattice_constant_defaults_single_fit.png
  tests/vis/conftest.py
  tests/vis/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move convex hull tests to unified directory
  tests/files/mpl-baseline/test_convex_hull_defaults.png
  tests/vis/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Apply formatting fixes
  tests/vis/conftest.py
  tests/vis/test_bokeh_plots.py
  tests/vis/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move multiple tests into io subfolder
  tests/io/test_fleur_inpgen.py
  tests/io/test_fleur_inpgen/inpgen_file_with_comments.txt
  tests/io/test_fleur_inpgen/test_get_parameter_write_inpgen_roundtrip.txt
  tests/io/test_fleur_inpgen/test_read_inpgen_file.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_comments.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_contents.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_econfig.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_film.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_handle.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_parameters.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_soc_qss.yml
  tests/io/test_fleur_inpgen/test_write_inpgen_file_defaults_dict.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_defaults_direct.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_defaults_str.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_defaults_tuple.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_econfig.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_film.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_parameters.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_soc_qss.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_x_and_bunchatom.txt
  tests/io/test_fleurxmlmodifier.py
  tests/io/test_hdf5_reader.py
  tests/io/test_hdf5_reader/test_hdf5_reader_bands.yml
  tests/io/test_hdf5_reader/test_hdf5_reader_dos.yml
  tests/io/test_hdf5_reader/test_hdf5_reader_jdos.yml
  tests/io/test_hdf5_reader/test_hdf5_reader_spinpol_bands.yml
  tests/io/test_hdf5_reader/test_hdf5_reader_spinpol_dos.yml
  tests/io/test_io_fleurxml.py
Due: pylint-errors, pylint-warnings

Adjust hdf5_reader tests
  tests/io/test_fleurxmlmodifier.py
  tests/io/test_hdf5_reader.py
Due: pylint-errors, pylint-warnings

Try out switching from setuptools and setup.py to flit with configuration in pyproject.toml
  .bumpversion.cfg
  .github/workflows/cd.yml
  .pre-commit-config.yaml
  AUTHORS.txt
  CHANGELOG.md
  MANIFEST.in
  masci_tools/__init__.py
  pyproject.toml
  setup.py
  utils/validate_version_consistency.py
Due: pylint-errors, pylint-warnings, version-number

Correct zenodo link to always point to the latest version
  README.md
Due: none

Readd ase dependency with note when it should be removed
  pyproject.toml
Due: none

Fix corner case in io_fleurxml
  masci_tools/io/io_fleurxml.py
Due: pylint-errors, pylint-warnings

Add notes that file handles should be opened in bytes mode for xml parsing
  docs/source/user_guide/fleur_parser.rst
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
Due: pylint-errors, pylint-warnings

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Adjust outxml_parser tests
  tests/parsers/test_fleur_outxml_parser.py
Due: pylint-errors, pylint-warnings

Fix formatting
  tests/parsers/test_schema_dict.py
Due: pylint-errors, pylint-warnings

Cleanup
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/io/parsers/fleur/outxml_conversions.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/io/parsers/tabulator/tabulator.py
  masci_tools/io/parsers/tabulator/transformers.py
  masci_tools/util/parse_tasks.py
  tests/cmdline/test_inpxml_converter.py
  tests/xml/test_xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings

remove .coveragerc
  .coveragerc
  pyproject.toml
Due: none

Replace .bumpversion.cfg with configuration for bumpver in pyproject.toml
  .bumpversion.cfg
  pyproject.toml
Due: version-number

Revert accidental change
  masci_tools/util/parse_tasks.py
Due: pylint-errors, pylint-warnings

Fix for compatibility with aiida-fleur in set_atomgroup_label
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings

Prepare bugfix release 0.7.2
  .bumpversion.cfg
  CHANGELOG.md
  masci_tools/__init__.py
  pyproject.toml
  setup.py
Due: pylint-errors, pylint-warnings, version-number

Bugfix in cd.yml
  .github/workflows/cd.yml
Due: none

Reduce convoluted logic a bit in ParseTasks
  masci_tools/util/parse_tasks.py
Due: pylint-errors, pylint-warnings

Cleanup find_migration
  masci_tools/util/parse_tasks.py
Due: pylint-errors, pylint-warnings

Update/fix type annotations in python_util/math_util
  .pre-commit-config.yaml
  masci_tools/util/math_util.py
  masci_tools/util/python_util.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Fix last commit
  masci_tools/util/math_util.py
Due: pylint-errors, pylint-warnings

Fix type annotation in FleurXMLModifier
  masci_tools/io/fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings

More typehints in io/common_functions
  masci_tools/io/common_functions.py
Due: pylint-errors, pylint-warnings

fleur_inpxml_converter was missing from the mypy configuration
  .pre-commit-config.yaml
  masci_tools/cmdline/parameters/slice.py
  masci_tools/tools/fleur_inpxml_converter.py
Due: pylint-errors, pylint-warnings

Update typing in fleur_inpxml_converter
  masci_tools/tools/conversions/conversion_031_033.json
  masci_tools/tools/conversions/conversion_031_to_034.json
  masci_tools/tools/conversions/conversion_033_to_031.json
  masci_tools/tools/conversions/conversion_033_to_034.json
  masci_tools/tools/fleur_inpxml_converter.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Typing click parameters and adjust test
  masci_tools/cmdline/parameters/slice.py
  tests/cmdline/test_inpxml_converter/test_generate_conversion.json
Due: pylint-errors, pylint-warnings

greensfunction was also missing from mypy hook
  .pre-commit-config.yaml
  masci_tools/tools/greensfunction.py
Due: pylint-errors, pylint-warnings

add ignored package
  masci_tools/util/python_util.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Prettify two error messages in xml_setters_names
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings
