Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

.pre-commit-config.yaml:

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint-errors, pylint-warnings,mypy]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: forbid-new-submodules

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.32.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']
    additional_dependencies: ['toml']

- repo: https://github.com/ikamensh/flynt/
  rev: '0.76'
  hooks:
  -   id: flynt
      args: [
          '--line-length=120',
          '--fail-on-change',
      ]

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [
            '--py37-plus'
        ]

- repo: local
  hooks:

  - id: pylint-errors
    name: pylint-errors
    entry: pylint
    args: [-d, W, -d, R, -d, C]
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: pylint-warnings
    name: pylint-warnings
    entry: pylint
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    files: >-
        (?x)^(
            masci_tools/io/parsers/fleur/.*py|
            masci_tools/io/parsers/fleur_schema/.*py|
            masci_tools/io/parsers/hdf5/.*py|
            masci_tools/io/io_nmmpmat.py|
            masci_tools/io/io_fleurxml.py|
            masci_tools/io/fleur_inpgen.py|
            masci_tools/io/hdf5_util.py|
            masci_tools/io/fleurxmlmodifier.py|
            masci_tools/io/common_functions.py|
            masci_tools/util/xml/.*py|
            masci_tools/util/lockable_containers.py|
            masci_tools/util/case_insensitive_dict.py|
            masci_tools/util/schema_dict_util.py|
            masci_tools/util/parse_task_decorators.py|
            masci_tools/util/logging_util.py|
            masci_tools/util/python_util.py|
            masci_tools/util/math_util.py|
            masci_tools/util/parse_tasks.py|
            masci_tools/util/parse_utils.py|
            masci_tools/util/typing.py|
            masci_tools/util/econfig.py|
            masci_tools/util/fleur_calculate_expression.py|
            masci_tools/tools/fleur_inpxml_converter.py|
            masci_tools/tools/greensfunction.py|
            masci_tools/cmdline/parameters/slice.py|
        )$

Fixes for bokeh plots
  masci_tools/testing/bokeh.py
  tests/vis/test_bokeh_plots.py
Due: pylint-errors, pylint-warnings

Another windows bugfix
  tests/parsers/test_fleur_inpxml_parser.py
  tests/xml/test_xml_getters.py
Due: pylint-errors, pylint-warnings

More tempfile handling fixes
  tests/vis/test_plot_methods.py
  tests/vis/test_plotter.py
Due: pylint-errors, pylint-warnings

Add pre-commit hook to generate docstrings of FleurXMLModifier methods
  .pre-commit-config.yaml
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  utils/write_fleurxmlmodifier_docstrings.py
Due: pylint-errors, pylint-warnings, mypy

tempfile fixes in test_kkrparams
  tests/test_kkrparams.py
Due: pylint-errors, pylint-warnings

Skip kkr dos plot tests on windows
  tests/test_kkr_plotting.py
Due: pylint-errors, pylint-warnings

Fixes
  .pre-commit-config.yaml
  masci_tools/util/ipython.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Add module for tools to use in an ipython/jupyter notebook To use add `%load_ext masci_tools`
  masci_tools/__init__.py
  masci_tools/util/ipython.py
Due: pylint-errors, pylint-warnings

Rename xml diff function
  masci_tools/util/ipython.py
Due: pylint-errors, pylint-warnings

WIP: Create function to create html diff of xml files
  masci_tools/util/ipython.py
Due: pylint-errors, pylint-warnings

Improve diff function
  masci_tools/util/ipython.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

fix pylint
  masci_tools/util/ipython.py
Due: pylint-errors, pylint-warnings

Try to fix docs
  docs/source/module_guide/tools.rst
Due: none

Modify hook to be able to tun on pre-commit.ci
  utils/write_fleurxmlmodifier_docstrings.py
Due: pylint-errors, pylint-warnings

Remove debug print
  utils/write_fleurxmlmodifier_docstrings.py
Due: pylint-errors, pylint-warnings

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Cleanup pre-commit hook
  utils/write_fleurxmlmodifier_docstrings.py
Due: pylint-errors, pylint-warnings

Update sphinx version
  pyproject.toml
Due: none

Ensure that the relaxation xinclude tag is readded in the FleurXMLModifier
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/schema_dict_util.py
  tests/io/test_fleurxmlmodifier/test_fleurxmlmodifier_included_files.xml
Due: pylint-errors, pylint-warnings, mypy

Try out myst-nb
  docs/source/conf.py
  docs/source/images/scatter_multi.png
  docs/source/images/scatter_multi_global_params.png
  docs/source/images/scatter_multi_specific_params.png
  docs/source/images/scatterplot_defaults.png
  docs/source/images/scatterplot_labels.png
  docs/source/images/scatterplot_limits.png
  docs/source/images/scatterplot_params.png
  docs/source/images/scatterplot_scale.png
  docs/source/images/scatterplot_standard.png
  docs/source/user_guide/plotting.md
  docs/source/user_guide/plotting.rst
  pyproject.toml
Due: none

Improve diff function
  masci_tools/util/ipython.py
Due: pylint-errors, pylint-warnings

Move module index under the reference section
  docs/source/index.rst
  docs/source/module_guide/mg_index.rst
  docs/source/reference/index.rst
  docs/source/reference/module_guide/code.rst
  docs/source/reference/module_guide/index.rst
  docs/source/reference/module_guide/tools.rst
Due: none

Convert the developers guide plotting and add figures
  docs/source/devel_guide/plotting.md
  docs/source/devel_guide/plotting.rst
Due: none

Add code cell to reset defaults
  docs/source/user_guide/plotting.md
Due: none

Fix imports
  docs/source/devel_guide/plotting.md
Due: none

Correct last code cell
  docs/source/devel_guide/plotting.md
Due: none

Another experiment with adding pretty representation of XML files
  docs/source/user_guide/examples.md
  docs/source/user_guide/files/inp.xml
  docs/source/user_guide/index.rst
Due: none

Fixes
  docs/source/user_guide/examples.md
  masci_tools/io/parsers/fleur/default_parse_tasks.py
  masci_tools/util/constants.py
Due: pylint-errors, pylint-warnings, mypy

Fix customization
  docs/source/user_guide/examples.md
Due: none

Modify example
  docs/source/user_guide/examples.md
Due: none

Fix quotation
  docs/source/user_guide/fleurxmlmodifier.rst
Due: none

Switch to using the ipython extension
  docs/source/user_guide/examples.md
Due: none

Remove examples.md
  docs/source/user_guide/examples.md
Due: none

Delete files folder
  docs/source/user_guide/files/inp.xml
Due: none

Convert user_guide/fleur_parser to myst
  docs/source/conf.py
  docs/source/user_guide/fleur_parser.md
  docs/source/user_guide/fleur_parser.rst
  docs/source/user_guide/index.rst
Due: none

Convert user_guide/hdf5_parser to myst
  docs/source/conf.py
  docs/source/user_guide/hdf5_parser.md
  docs/source/user_guide/hdf5_parser.rst
Due: none

Convert user_guide/fleurxmlmodifier to myst
  docs/source/user_guide/fleurxmlmodifier.md
  docs/source/user_guide/fleurxmlmodifier.rst
Due: none

Convert devel_guide/fleur_parser to myst
  docs/source/devel_guide/fleur_parser.md
  docs/source/devel_guide/fleur_parser.rst
Due: none

Convert devel_guide/plot_data to myst
  docs/source/devel_guide/plot_data.md
  docs/source/devel_guide/plot_data.rst
Due: none
