Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

fix last commits
  masci_tools/tools/greensf_calculations.py
Due: pylint-errors, pylint-warnings, mypy

fix
  masci_tools/tools/greensfunction.py
Due: pylint-errors, pylint-warnings, mypy

Fix einsum
  masci_tools/tools/greensf_calculations.py
Due: pylint-errors, pylint-warnings, mypy

Case insensitivity of use_input_alat check in kkrparams
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Add inputs for BdG triplet pairing
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Update tests
  tests/test_kkrparams.py
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: pylint-errors, pylint-warnings

Fix writeout of triplet parameters
  masci_tools/io/kkr_params.py
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: pylint-errors, pylint-warnings

Add BdG triplet d-vector input
  masci_tools/io/kkr_params.py
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: pylint-errors, pylint-warnings

Add formatting for BdG_triplet_dvec
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Add MIXLDAU to kkrparams
  masci_tools/io/kkr_params.py
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: pylint-errors, pylint-warnings

Add MIXLDAU_STEP kkr input
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Add input values for tolerances of Voronoi code to kkrparams class
  masci_tools/io/kkr_params.py
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: pylint-errors, pylint-warnings

Update README.md
  README.md
Due: none

Minor update to kkrimp parser
  masci_tools/io/parsers/kkrimp_parser_functions.py
Due: pylint-errors, pylint-warnings

Improve pylint score
  masci_tools/io/parsers/kkrimp_parser_functions.py
Due: pylint-errors, pylint-warnings

Add LATTICE_RELAX input in kkrparams for imp code
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Add control parameters for spin mixing of imp code to kkrparams
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Adding MIXLDAU_STEP and MIXFAC_LDAU inputs to kkr_params.py
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Fixing pre-commit errors
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Fix case sensitivity
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Fixing EF_SET input in kkr_params.py
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Adding LDAU pot rms parsing for impurity calculations
  masci_tools/io/parsers/kkrimp_parser_functions.py
  masci_tools/io/parsers/kkrparser_functions.py
Due: pylint-errors, pylint-warnings

Move kkrparam defaults out of kkr_params file and into json files
  masci_tools/io/data_kkrparams/README.txt
  masci_tools/io/data_kkrparams/detauls_kkrhost.json
  masci_tools/io/data_kkrparams/detauls_kkrimp.json
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Update test to last commit
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: none

Fix tests for kkrimp tools
  tests/test_kkrimp_tools/test_parse_outfiles_full.yml
  tests/test_kkrimp_tools/test_parse_outfiles_full_filehandle.yml
Due: none

Minor formatting improvements
  masci_tools/io/parsers/kkrparser_functions.py
Due: pylint-errors, pylint-warnings

Minor formatting improvement to kkrparams
  masci_tools/io/data_kkrparams/detauls_kkrhost.json
  masci_tools/io/kkr_params.py
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: pylint-errors, pylint-warnings

Add inp.xml Schema V 0.38
  masci_tools/io/parsers/fleur_schema/0.38/FleurInputSchema.xsd
Due: none

parser for impurity calculation is now able to tell if it is in dos calculation mode
  masci_tools/io/parsers/kkrimp_parser_functions.py
Due: pylint-errors, pylint-warnings

This version of the parser now it is able to work with the changes in the imp parser in the dos mode. It doesn't try to access the convergence data now if it sees that the doscalc mode is True
  masci_tools/io/parsers/kkrimp_parser_functions.py
Due: pylint-errors, pylint-warnings

Adding NACLSD param in kkrhost json inputs + fix json file names
  masci_tools/io/data_kkrparams/detauls_kkrhost.json
  masci_tools/io/data_kkrparams/detauls_kkrimp.json
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Adding NACLSD param in kkrhost json inputs + fix json file names
  masci_tools/io/data_kkrparams/defaults_kkrhost.json
  masci_tools/io/data_kkrparams/defaults_kkrimp.json
Due: none

Add KKR inputs for grid coarsening
  masci_tools/io/data_kkrparams/README.txt
  masci_tools/io/data_kkrparams/add_to_defaults.ipynb
  masci_tools/io/data_kkrparams/defaults_kkrhost.json
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: none

Add freeze_ldau input option
  masci_tools/io/data_kkrparams/defaults_kkrhost.json
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: none

Add <write_denvis_input> and <no_core_density> inputs to kkrparams.
  masci_tools/io/data_kkrparams/add_to_defaults.ipynb
  masci_tools/io/data_kkrparams/defaults_kkrhost.json
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: none

Relax lxml requirements to also allow newer versions
  pyproject.toml
Due: none

Enable retrieval of LibXC xc functional from FLEUR input file
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Fix missing colon in Update xml_getters.py
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/fleur_xml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/tools/greensf_calculations.py|
    masci_tools/cmdline/parameters/slice.py|
    masci_tools/vis/parameters.py|
    masci_tools/util/ipython.py|
)$ and \.py$
