Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy, version-number

.pre-commit-config.yaml:

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint-errors, pylint-warnings,version-number]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]
    - id: check-yaml
    - id: check-added-large-files
    - id: forbid-new-submodules

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.31.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']

- repo: https://github.com/ikamensh/flynt/
  rev: '0.69'
  hooks:
  -   id: flynt
      args: [
          '--line-length=120',
          '--fail-on-change',
      ]

- repo: local
  hooks:

  - id: pylint-errors
    name: pylint-errors
    entry: pylint
    args: [-d, W, -d, R, -d, C]
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: pylint-warnings
    name: pylint-warnings
    entry: pylint
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    files: >-
        (?x)^(
            masci_tools/io/parsers/fleur/fleur_schema/.*py|
        )$


  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.py|
        utils/validate_version_consistency.py|
        masci_tools/__init__.py|
        .bumpversion.cfg
      )$
    pass_filenames: false

Fix another test affected by the bug fixed in the last commit
  tests/xml/test_xml_getters/test_parameter_econfig_extraction_not_inpgen_ready.yml
Due: none

Always append the species name to the atom position in the inpgen input
  masci_tools/io/fleur_inpgen.py
  tests/test_io_fleur_inpgen/test_get_parameter_write_inpgen_roundtrip.txt
Due: pylint-errors, pylint-warnings

Add ignore validation option to out-file parsing command
  masci_tools/cmdline/commands/parse.py
Due: pylint-errors, pylint-warnings

Fix for get_parameter_data
  masci_tools/util/xml/converters.py
  tests/files/fleur/inp_special_los.xml
  tests/xml/test_xml_getters.py
  tests/xml/test_xml_getters/test_parameter_special_los.yml
Due: pylint-errors, pylint-warnings

Fix format
  tests/xml/test_xml_getters.py
Due: pylint-errors, pylint-warnings

Fix label writing to aiida.in of inpgen
  masci_tools/io/fleur_inpgen.py
Due: pylint-errors, pylint-warnings

Fix test
  pyproject.toml
  tests/test_io_fleur_inpgen/test_get_parameter_write_inpgen_roundtrip.txt
Due: none

Add command for listing all available schema versions
  masci_tools/cmdline/commands/fleur_schema.py
  masci_tools/io/parsers/fleur_schema/__init__.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  tests/cmdline/test_fleur_schema.py
Due: pylint-errors, pylint-warnings

Make get_kpoints_data usable with out.xml files
  masci_tools/util/xml/xml_getters.py
  tests/xml/test_xml_getters.py
  tests/xml/test_xml_getters/test_kpoints_output.yml
  tests/xml/test_xml_getters/test_kpoints_output_max4.yml
Due: pylint-errors, pylint-warnings

Make sure that all xml_getters work with output files
  masci_tools/util/xml/xml_getters.py
  tests/xml/test_xml_getters.py
  tests/xml/test_xml_getters/test_fleur_modes_output.yml
  tests/xml/test_xml_getters/test_get_cell_output.yml
  tests/xml/test_xml_getters/test_get_structure_output.yml
  tests/xml/test_xml_getters/test_get_symmetry_output.yml
  tests/xml/test_xml_getters/test_parameter_output.yml
Due: pylint-errors, pylint-warnings

Fix pre-commit warnings
  masci_tools/io/kkr_params.py
  masci_tools/io/parsers/kkrimp_parser_functions.py
  masci_tools/io/parsers/voroparser_functions.py
Due: pylint-errors, pylint-warnings

fix more pre-commit warnings
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

MOre simplification
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Replace all usages of open_general outside of contextmanager with usage in contextmanager
  masci_tools/io/common_functions.py
  masci_tools/io/kkr_params.py
  masci_tools/io/parsers/kkrimp_parser_functions.py
  masci_tools/io/parsers/kkrparser_functions.py
  masci_tools/io/parsers/voroparser_functions.py
  tests/test_kkrparams.py
Due: pylint-errors, pylint-warnings

Make NoPathFound and NoUniquePathFound exceptions into subclasses of ValueError
  masci_tools/io/parsers/fleur_schema/schema_dict.py
Due: pylint-errors, pylint-warnings

Add complex_xpath option to evaluation function in schema_dict_util module
  masci_tools/util/schema_dict_util.py
Due: pylint-errors, pylint-warnings

Improve typing especially of decorators
  masci_tools/io/common_functions.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/io/parsers/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur_schema/outschema_todict.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/util/case_insensitive_dict.py
  masci_tools/util/lockable_containers.py
  masci_tools/util/logging_util.py
  masci_tools/util/parse_tasks_decorators.py
  masci_tools/util/xml/collect_xml_setters.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_xpaths.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Fix import
  masci_tools/io/parsers/fleur_schema/schema_dict.py
Due: pylint-errors, pylint-warnings

Fix docs
  docs/source/conf.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/util/parse_tasks_decorators.py
Due: pylint-errors, pylint-warnings

typing fixes
  .pre-commit-config.yaml
  masci_tools/util/logging_util.py
  masci_tools/util/parse_tasks_decorators.py
Due: pylint-errors, pylint-warnings

Next try to fix docs
  docs/source/conf.py
Due: none

And another fix
  docs/source/conf.py
Due: none

Typing in FleurXMLModifier
  .pre-commit-config.yaml
  masci_tools/io/fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings

typing
  .pre-commit-config.yaml
  masci_tools/io/common_functions.py
Due: pylint-errors, pylint-warnings

ChemicalElements: isolated mendeleev imports (due to dependency issues, see also ad42b8d) (and corrected a lot of pylint warnings no-else-return)
  masci_tools/util/chemical_elements.py
Due: pylint-errors, pylint-warnings

Add gamma switch to kpts namelist in fleur_inpgen
  masci_tools/io/fleur_inpgen.py
Due: pylint-errors, pylint-warnings

Add methods for constructing paths into the SCF iteration elements
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  tests/test_schema_dict.py
Due: pylint-errors, pylint-warnings

Cleanup argument handling in schema_dict
  masci_tools/io/parsers/fleur_schema/schema_dict.py
Due: pylint-errors, pylint-warnings

Add option to use iteration_tag_xpath methods in schema_dict_util
  masci_tools/util/schema_dict_util.py
Due: pylint-errors, pylint-warnings

Also simplify handling of tag_info in schema_dict_util
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/util/schema_dict_util.py
Due: pylint-errors, pylint-warnings

Add python 3.10 to test workflow
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Adapt plotting tests to matplotlib 3.5.0
  tests/files/cf_calculation/cf_potential.png
  tests/files/kkr/kkr_run_qdos/test.png
  tests/files/kkr/kkr_run_qdos_FS/test.png
  tests/files/plot_methods/matplotlib/colormesh/defaults.png
Due: none

Drop 3.6 testing since it is a bit complicated to keep matplotlib testing working for all versions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

New XML setters:
  docs/source/user_guide/fleurxmlmodifier.rst
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_names.py
  tests/xml/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings

Forgot to register xml setters in collect_xml_setters
  masci_tools/util/xml/collect_xml_setters.py
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
Due: pylint-errors, pylint-warnings

Add specific error for functions that were not registered in collect_xml_setters
  masci_tools/io/fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings

Lift dependency constraint on mendeleev
  masci_tools/util/chemical_elements.py
  setup.py
Due: pylint-errors, pylint-warnings, version-number

Bugfix for switch_species when only one species is present
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings

Equivalent bugfix from last commit for clone_species
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings
