Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Add `task_list` property to FleurXMLModifier to construct a list compatible with the `fromList` classmethod (which is importantly the method used to read the `inpxml_changes` input)
  CHANGELOG.md
  masci_tools/io/fleurxmlmodifier.py
  tests/io/test_fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings, mypy

Add missing typehints
  CHANGELOG.md
  masci_tools/io/fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings, mypy

Add another test for task_list making sure the deprecations don't lead to some weird interaction
  tests/io/test_fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings

Add basic test of greensfunction class
  masci_tools/tools/greensfunction.py
  tests/files/fleur/greensf/greensf_sphavg.hdf
  tests/tools/test_greensfunction.py
Due: pylint-errors, pylint-warnings, mypy

More tests
  masci_tools/tools/greensfunction.py
  tests/tools/test_greensfunction.py
Due: pylint-errors, pylint-warnings, mypy

Tests for obtaining the complete spin matrix
  masci_tools/tools/greensfunction.py
  tests/tools/test_greensfunction.py
Due: pylint-errors, pylint-warnings, mypy

Add changelog entry
  CHANGELOG.md
Due: none

Add test for untested HDF5Reader recipe
  tests/io/test_hdf5_reader.py
  tests/io/test_hdf5_reader/test_hdf5_reader_bands_specific_weight.yml
Due: pylint-errors, pylint-warnings

Another test added
  masci_tools/io/parsers/hdf5/reader.py
  tests/io/test_hdf5_util.py
Due: pylint-errors, pylint-warnings, mypy

Fix test
  tests/io/test_hdf5_util.py
Due: pylint-errors, pylint-warnings

Fixed bug in determining the number of spin blocks of DFT+U density matrices
  CHANGELOG.md
  masci_tools/util/xml/xml_setters_nmmpmat.py
Due: pylint-errors, pylint-warnings, mypy

Move validation of XML trees into method of SchemaDict
  masci_tools/cmdline/commands/fleur_schema.py
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/tools/fleur_inpxml_converter.py
  tests/io/test_fleurxmlmodifier.py
  tests/io/test_fleurxmlmodifier/test_fleurxmlmodifier_included_files.xml
Due: pylint-errors, pylint-warnings, mypy

Fix bug in `create_tag`. Introducing the XML strings broke the case insensitivity for normal strings
  masci_tools/util/xml/xml_setters_xpaths.py
  tests/xml/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Simplify the setup for the `outxml_parser` by using the recovery parsing in `load_outxml` directly
  masci_tools/cmdline/commands/fleur_schema.py
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken_firstiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_empty_out.yml
Due: pylint-errors, pylint-warnings, mypy

Convert the rest of the XML getters to use FleurXMLContext
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

WIP: Create a class for evaluating a lot of stuff from xml files without repeating the same stuff over and over again
  .pre-commit-config.yaml
  masci_tools/io/fleur_xml.py
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Rename nesting constructs to be more aligned with the ElementTree API
  masci_tools/io/fleur_xml.py
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Add docstrings
  docs/source/user_guide/fleur_parser.rst
  masci_tools/io/fleur_xml.py
  masci_tools/util/schema_dict_util.py
Due: pylint-errors, pylint-warnings, mypy

REmove a circular import
  masci_tools/io/fleur_xml.py
  masci_tools/util/schema_dict_util.py
  tests/conftest.py
Due: pylint-errors, pylint-warnings, mypy

small fixes and add several debug log calls
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Small fixes
  masci_tools/io/fleur_xml.py
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Fix typing
  masci_tools/io/fleur_xml.py
Due: pylint-errors, pylint-warnings

Rename all appearances of io_fleurxml
  docs/source/module_guide/code.rst
  masci_tools/cmdline/commands/fleur_schema.py
  masci_tools/cmdline/commands/parse.py
  masci_tools/io/fleur_xml.py
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/tools/fleur_inpxml_converter.py
  masci_tools/util/xml/collect_xml_setters.py
  tests/conftest.py
  tests/io/test_io_fleurxml.py
Due: pylint-errors, pylint-warnings, mypy

Missing
  CHANGELOG.md
  docs/source/user_guide/fleur_parser.rst
Due: none

Fixes after rebase
  masci_tools/io/fleur_xml.py
Due: pylint-errors, pylint-warnings

Refactor outxml_parser to use the FleurXMLContext
  .pre-commit-config.yaml
  masci_tools/io/parsers/fleur/__init__.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/io/parsers/fleur/outxml_conversions.py
  masci_tools/io/parsers/fleur/task_migrations.py
  masci_tools/util/parse_tasks.py
  masci_tools/util/parse_tasks_decorators.py
  masci_tools/util/schema_dict_util.py
  tests/cmdline/conftest.py
  tests/parsers/test_fleur_outxml_parser.py
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken_alliter.yml
  tests/parsers/test_parse_tasks.py
Due: pylint-errors, pylint-warnings, mypy

Simplifications
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
Due: pylint-errors, pylint-warnings, mypy

Remove references in docs
  docs/source/devel_guide/fleur_parser.rst
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/util/parse_tasks_decorators.py
  tests/parsers/test_parse_tasks.py
Due: pylint-errors, pylint-warnings, mypy

Deprecate read_constants
  docs/source/user_guide/fleur_parser.rst
  masci_tools/cmdline/commands/parse.py
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_xpaths.py
  tests/io/test_io_fleurxml.py
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_todict_warnings.yml
  tests/xml/test_schema_dict_util.py
Due: pylint-errors, pylint-warnings, mypy

Fixes
  docs/source/module_guide/tools.rst
  masci_tools/io/fleur_xml.py
  tests/cmdline/conftest.py
Due: pylint-errors, pylint-warnings

Correct reference in docs
  docs/source/devel_guide/fleur_parser.rst
Due: none

And another reference
  docs/source/devel_guide/fleur_parser.rst
Due: none

Fix some scattered typos
  masci_tools/io/fleur_xml.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/tools/cf_calculation.py
  masci_tools/tools/greensfunction.py
  masci_tools/util/xml/xml_setters_xpaths.py
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings, mypy

Add to nitpick_ignore
  docs/source/conf.py
Due: none

Fix last commit
  docs/source/conf.py
Due: none

Last fixes for docs
  docs/source/conf.py
  masci_tools/io/fleur_xml.py
Due: pylint-errors, pylint-warnings

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add conversions to/from file version 0.35
  masci_tools/tools/conversions/conversion_033_to_035.json
  masci_tools/tools/conversions/conversion_034_to_035.json
  masci_tools/tools/conversions/conversion_035_to_034.json
Due: none

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/io_fleurxml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/parse_task_decorators.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_tasks.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/cmdline/parameters/slice.py|
)$ and \.py$
