Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

.pre-commit-config.yaml:

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint-errors, pylint-warnings,mypy]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: forbid-new-submodules

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.32.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']
    additional_dependencies: ['toml']

- repo: https://github.com/ikamensh/flynt/
  rev: '0.76'
  hooks:
  -   id: flynt
      args: [
          '--line-length=120',
          '--fail-on-change',
      ]

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [
            '--py37-plus'
        ]

- repo: local
  hooks:

  - id: pylint-errors
    name: pylint-errors
    entry: pylint
    args: [-d, W, -d, R, -d, C]
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: pylint-warnings
    name: pylint-warnings
    entry: pylint
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    files: >-
        (?x)^(
            masci_tools/io/parsers/fleur/.*py|
            masci_tools/io/parsers/fleur_schema/.*py|
            masci_tools/io/parsers/hdf5/.*py|
            masci_tools/io/io_nmmpmat.py|
            masci_tools/io/io_fleurxml.py|
            masci_tools/io/fleur_inpgen.py|
            masci_tools/io/hdf5_util.py|
            masci_tools/io/fleurxmlmodifier.py|
            masci_tools/io/common_functions.py|
            masci_tools/util/xml/.*py|
            masci_tools/util/lockable_containers.py|
            masci_tools/util/case_insensitive_dict.py|
            masci_tools/util/schema_dict_util.py|
            masci_tools/util/parse_task_decorators.py|
            masci_tools/util/logging_util.py|
            masci_tools/util/python_util.py|
            masci_tools/util/math_util.py|
            masci_tools/util/parse_tasks.py|
            masci_tools/util/parse_utils.py|
            masci_tools/util/typing.py|
            masci_tools/util/econfig.py|
            masci_tools/util/fleur_calculate_expression.py|
            masci_tools/tools/fleur_inpxml_converter.py|
            masci_tools/tools/greensfunction.py|
            masci_tools/cmdline/parameters/slice.py|
        )$

Fix typos in CHANGELOG.md
  CHANGELOG.md
Due: none

Some more typos (This time in test suite)
  tests/cmdline/test_fleur_schema.py
  tests/cmdline/test_inpxml_converter.py
  tests/cmdline/test_parse.py
  tests/cmdline/test_plot.py
  tests/io/test_fleurxmlmodifier.py
  tests/io/test_hdf5_util.py
  tests/vis/conftest.py
  tests/vis/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Update CHANGELOG.md
  CHANGELOG.md
Due: none

bump version 0.9.1 -> 0.10.0
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Add py.typed marker to root level
  masci_tools/py.typed
Due: none

Prepare Changelog entry for 0.10.0
  CHANGELOG.md
Due: none

Add new changelog entry
  CHANGELOG.md
Due: none

Remove accidental left in debug print
  CHANGELOG.md
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
Due: pylint-errors, pylint-warnings, mypy

bump version 0.10.0 -> 0.10.1
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Found one more left over debug print
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/io/parsers/fleur_schema/outschema_todict.py
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings, mypy

Cleanup fleur_parser.rst
  docs/source/user_guide/fleur_parser.rst
Due: none

Cleanup fleurxmlmodifier.rst
  docs/source/user_guide/fleurxmlmodifier.rst
Due: none

Cleanup hdf5_parser.rst
  docs/source/user_guide/hdf5_parser.rst
Due: none

Cleanup plotting.rst
  docs/source/user_guide/plotting.rst
Due: none

Cleanup fleur_plots.rst
  docs/source/user_guide/fleur_plots.rst
Due: none

Revert changes from 2 `` to 1
  docs/source/user_guide/fleur_parser.rst
  docs/source/user_guide/fleur_plots.rst
  docs/source/user_guide/fleurxmlmodifier.rst
  docs/source/user_guide/hdf5_parser.rst
  docs/source/user_guide/plotting.rst
Due: none

Fixes
  docs/source/user_guide/fleur_plots.rst
  docs/source/user_guide/plotting.rst
Due: none

Cleanup plot_data.rst
  docs/source/devel_guide/fleur_parser.rst
  docs/source/devel_guide/plot_data.rst
Due: none

Cleanup devel_guide/plotting.rst
  docs/source/devel_guide/plotting.rst
Due: none

Fix
  docs/source/devel_guide/plotting.rst
Due: none

More fixes and update requirements
  docs/source/index.rst
  docs/source/user_guide/fleurxmlmodifier.rst
Due: none

Fix reference
  docs/source/devel_guide/fleur_parser.rst
  docs/source/user_guide/fleur_parser.rst
Due: none

Update docs build
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .readthedocs.yml
  docs/source/conf.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xpathbuilder.py
  pyproject.toml
Due: pylint-errors, pylint-warnings, mypy

Update .readthedocs.yml
  .readthedocs.yml
Due: none

Correct links in Changelog
  CHANGELOG.md
Due: none

Fix type annotation
  masci_tools/io/fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings, mypy

Bugfix in `outxml_parser` Hubbard 1 output could end up nested in an additional layer of lists
  CHANGELOG.md
  masci_tools/io/parsers/fleur/default_parse_tasks.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
Due: pylint-errors, pylint-warnings, mypy

Small refactor to simplify logic in SchemaDict.tag_info
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/io/parsers/fleur_schema/__init__.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  tests/parsers/test_schema_dict.py
Due: pylint-errors, pylint-warnings, mypy

Add helper class for constructing XML elements compatible with a given schema dict from scratch
  masci_tools/util/xml/builder.py
  masci_tools/util/xml/xml_setters_names.py
  pyproject.toml
  tests/xml/test_xml_builder.py
Due: pylint-errors, pylint-warnings, mypy

Add changelog entry
  CHANGELOG.md
Due: none

Add tests for FleurElementMaker
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/util/xml/builder.py
  masci_tools/util/xml/converters.py
  tests/xml/test_xml_builder.py
Due: pylint-errors, pylint-warnings, mypy

fix typo
  CHANGELOG.md
Due: none

Remove debug print
  masci_tools/util/xml/builder.py
Due: pylint-errors, pylint-warnings, mypy

Typing fixes
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/util/xml/builder.py
Due: pylint-errors, pylint-warnings, mypy

Simplify some filters based on atom labels
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Add small function to serialize the XML arguments (element or tree) to a function to strings
  masci_tools/util/xml/common_functions.py
  tests/xml/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Delete banddos_analysis_1.mlappinstall
  masci_tools/tools/banddos_analysis_1.mlappinstall
Due: none
