Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

.pre-commit-config.yaml:

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint-errors, pylint-warnings,mypy]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: forbid-new-submodules

- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.32.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']
    additional_dependencies: ['toml']

- repo: https://github.com/ikamensh/flynt/
  rev: '0.76'
  hooks:
  -   id: flynt
      args: [
          '--line-length=120',
          '--fail-on-change',
      ]

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
    -   id: pyupgrade
        args: [
            '--py37-plus'
        ]

- repo: local
  hooks:

  #Since this runs after the formatter the docstrings should already satisfy all other hooks
  - id: make-fleurxmlmodifier-doc
    name: Generate Docstrings for Setter methods of FleurXMLModifier
    entry: python ./utils/write_fleurxmlmodifier_docstrings.py
    language: system
    pass_filenames: false

  - id: pylint-errors
    name: pylint-errors
    entry: pylint
    args: [-d, W, -d, R, -d, C]
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: pylint-warnings
    name: pylint-warnings
    entry: pylint
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    files: >-
        (?x)^(
            masci_tools/io/parsers/fleur/.*py|
            masci_tools/io/parsers/fleur_schema/.*py|
            masci_tools/io/parsers/hdf5/.*py|
            masci_tools/io/io_nmmpmat.py|
            masci_tools/io/fleur_xml.py|
            masci_tools/io/fleur_inpgen.py|
            masci_tools/io/hdf5_util.py|
            masci_tools/io/fleurxmlmodifier.py|
            masci_tools/io/common_functions.py|
            masci_tools/util/xml/.*py|
            masci_tools/util/lockable_containers.py|
            masci_tools/util/case_insensitive_dict.py|
            masci_tools/util/schema_dict_util.py|
            masci_tools/util/logging_util.py|
            masci_tools/util/python_util.py|
            masci_tools/util/math_util.py|
            masci_tools/util/parse_utils.py|
            masci_tools/util/typing.py|
            masci_tools/util/econfig.py|
            masci_tools/util/fleur_calculate_expression.py|
            masci_tools/tools/fleur_inpxml_converter.py|
            masci_tools/tools/greensfunction.py|
            masci_tools/tools/greensf_calculations.py|
            masci_tools/cmdline/parameters/slice.py|
            masci_tools/vis/parameters.py|
            masci_tools/util/ipython.py|
        )$

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update cd.yml
  .github/workflows/cd.yml
Due: none

Update fleur-release.yml
  .github/workflows/fleur-release.yml
Due: none

Create 0.39/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.39/FleurInputSchema.xsd
Due: none

Create 0.38/FleurOutputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.38/FleurOutputSchema.xsd
Due: none

Update default_parse_tasks.py to enable 0.38 FleurOutputSchema parsing
  masci_tools/io/parsers/fleur/default_parse_tasks.py
Due: pylint-errors, pylint-warnings, mypy

Add 'annotation' to child type checks in parser
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
Due: pylint-errors, pylint-warnings, mypy

Update of 0.39 schema for inp.xml
  masci_tools/io/parsers/fleur_schema/0.39/FleurInputSchema.xsd
Due: none

Ignore .specstory/ chat history
  .gitignore
Due: none

Parse KKR/KKRimp outputs in a single pass instead of quadratic rescans
  masci_tools/io/common_functions.py
  masci_tools/io/parsers/kkrimp_parser_functions.py
  masci_tools/io/parsers/kkrparser_functions.py
  masci_tools/io/parsers/voroparser_functions.py
  tests/files/kkrimp_parser/spinpol_truncated/out_log.000.txt
  tests/test_common_functions.py
  tests/test_kkrparser_functions.py
Due: pylint-errors, pylint-warnings, mypy

Parse the spin part of the per-atom rms error in get_rms
  CHANGELOG.md
  masci_tools/io/parsers/kkrparser_functions.py
  tests/test_kkrimp_tools/test_parse_outfiles_full.yml
  tests/test_kkrimp_tools/test_parse_outfiles_full_filehandle.yml
  tests/test_kkrparser_functions.py
  tests/test_kkrparser_functions/test_complete_kkr_output.yml
  tests/test_kkrparser_functions/test_complete_kkr_output_filehandle.yml
  tests/test_kkrparser_functions/test_mag_orbmom_kkr_output.yml
  tests/test_kkrparser_functions/test_nosoc_kkr_output.yml
Due: pylint-errors, pylint-warnings

Add TODO.md with open items: 0.15.1 release, red CI (#252), parser follow-ups
  TODO.md
Due: none

Add POT_NS_CUTOFF / POT_NS_WRITE_CUTOFF keys to kkrparams
  CHANGELOG.md
  masci_tools/io/data_kkrparams/defaults_kkrhost.json
  masci_tools/io/data_kkrparams/defaults_kkrimp.json
  tests/test_kkrparams.py
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: pylint-errors, pylint-warnings

Add drop_none option to kkrparams.get_dict
  CHANGELOG.md
  masci_tools/io/kkr_params.py
  tests/test_kkrparams.py
Due: pylint-errors, pylint-warnings

Add FCM key to kkrparams for KKRimp
  CHANGELOG.md
  masci_tools/io/data_kkrparams/defaults_kkrimp.json
  tests/test_kkrparams.py
Due: pylint-errors, pylint-warnings

TODO.md: list all changes since 0.15.0, add aiida-kkr get_dict follow-up
  TODO.md
Due: none
