Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Add changelog entry
  CHANGELOG.md
Due: none

And one last missing entry
  CHANGELOG.md
Due: none

Add mentions of new setter function in docs
  docs/source/user_guide/fleurxmlmodifier.rst
Due: none

Correct argument name in docs
  docs/source/user_guide/fleurxmlmodifier.rst
Due: none

Fix typo
  docs/source/user_guide/fleurxmlmodifier.rst
Due: none

Install additional package to run all tests of test suite
  .github/workflows/ci.yml
Due: none

One missing place
  .github/workflows/cd.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

WIP: Expand Tabulator by moving code non-specific to node tabulator into abstract class
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

More work
  .pre-commit-config.yaml
  masci_tools/io/parsers/tabulator/recipes.py
  masci_tools/io/parsers/tabulator/tabulator.py
  masci_tools/io/parsers/tabulator/transformers.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Fix collision removing
  masci_tools/io/parsers/tabulator/recipes.py
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

Add append and drop_empty_columns option
  masci_tools/io/parsers/tabulator/recipes.py
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

Rework import
  masci_tools/io/parsers/tabulator/__init__.py
  masci_tools/io/parsers/tabulator/recipes.py
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

Add another example tabulator
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

fix typo
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

Rename get_keypath to get_value
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

more
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

Initial implementation of exploiting datatypes for more efficient tabulating
  masci_tools/io/parsers/tabulator/recipes.py
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

Adjust numpy arrays to actual length
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

Add dtypes to recipe for future improvements
  masci_tools/io/parsers/tabulator/recipes.py
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

Fix collision removal
  masci_tools/io/parsers/tabulator/tabulator.py
Due: pylint-errors, pylint-warnings

Allow XML setters that get concrete etree._Element as a argument besides the xmltree to accept strings that are parsed to elements with etree.fromstring
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_xpaths.py
  tests/xml/test_xml_setters_basic.py
  tests/xml/test_xml_setters_names.py
  tests/xml/test_xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings, mypy

Forgot to update type hints for replace_tag
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Some small improvements in typing
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/io/parsers/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur_schema/outschema_todict.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/io/parsers/hdf5/reader.py
  masci_tools/tools/greensfunction.py
  masci_tools/util/logging_util.py
  masci_tools/util/parse_tasks.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Fix some incorrectly typed decorators
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/io/parsers/hdf5/transforms.py
Due: pylint-errors, pylint-warnings, mypy

Fix some signatures of xml getters with schema_dict_version_dispatch
  masci_tools/io/parsers/hdf5/transforms.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

More typing improvements
  masci_tools/io/common_functions.py
  masci_tools/io/io_fleurxml.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  masci_tools/util/xml/xpathbuilder.py
Due: pylint-errors, pylint-warnings, mypy

Revert "Some small improvements in typing"
  masci_tools/io/parsers/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur_schema/outschema_todict.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/util/parse_tasks.py
Due: pylint-errors, pylint-warnings, mypy

Fix type annotation
  masci_tools/io/fleur_inpgen.py
Due: pylint-errors, pylint-warnings, mypy

Add typing to vis/parameters
  .pre-commit-config.yaml
  masci_tools/vis/parameters.py
Due: pylint-errors, pylint-warnings

Some missing fixes
  masci_tools/util/parse_tasks.py
  masci_tools/util/schema_dict_util.py
Due: pylint-errors, pylint-warnings, mypy

Formatting
  masci_tools/util/parse_tasks.py
  masci_tools/util/schema_dict_util.py
Due: pylint-errors, pylint-warnings, mypy

typing fixes
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Add missing `(-1)^(m-mp)`factor in get_wigner_matrix
  CHANGELOG.md
  masci_tools/io/common_functions.py
  tests/xml/test_xml_setters_nmmpmat/test_rotate_nmmpmat_all.txt
  tests/xml/test_xml_setters_nmmpmat/test_rotate_nmmpmat_inverse.txt
Due: pylint-errors, pylint-warnings, mypy

formatting fixes
  masci_tools/io/common_functions.py
  tests/xml/test_xml_setters_nmmpmat/test_rotate_nmmpmat_all.txt
  tests/xml/test_xml_setters_nmmpmat/test_rotate_nmmpmat_inverse.txt
Due: pylint-errors, pylint-warnings, mypy

remove duplicate function in fleur_inpgen
  masci_tools/io/fleur_inpgen.py
Due: pylint-errors, pylint-warnings, mypy

The wigner matrix also needs to be transposed *facepalm*
  masci_tools/io/common_functions.py
  masci_tools/io/fleur_inpgen.py
  tests/xml/test_xml_setters_nmmpmat/test_rotate_nmmpmat.txt
  tests/xml/test_xml_setters_nmmpmat/test_rotate_nmmpmat_all.txt
  tests/xml/test_xml_setters_nmmpmat/test_rotate_nmmpmat_inverse.txt
  tests/xml/test_xml_setters_nmmpmat/test_set_nmmpmat_file_get_wigner_matrix.txt
Due: pylint-errors, pylint-warnings, mypy

Remove some deprecated methods/arguments
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Remove test of removed site_namedtuple argument
  tests/xml/test_xml_getters.py
  tests/xml/test_xml_getters/test_get_structure_film_old_sites.yml
Due: pylint-errors, pylint-warnings

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/io_fleurxml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/parse_task_decorators.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_tasks.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/cmdline/parameters/slice.py|
)$ and \.py$
