Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Add title to Changelog
  CHANGELOG.md
Due: none

Add empty CHANGELOG entry
  CHANGELOG.md
Due: none

Add reading of atomic elements from `greensf.hdf`
  masci_tools/tools/greensf_calculations.py
  masci_tools/tools/greensfunction.py
  tests/tools/test_jij/test_jij.csv
  tests/tools/test_jij/test_jij_max_shells.csv
  tests/tools/test_jij/test_jij_tensor.csv
  tests/tools/test_jij/test_jij_tensor_max_shells.csv
  tests/tools/test_jij/test_jij_tensor_x.csv
  tests/tools/test_jij/test_jij_tensor_y.csv
Due: pylint-errors, pylint-warnings, mypy

Remove explicit linenumbers from literalinclude directives
  docs/source/user_guide/hdf5_parser.md
  masci_tools/io/parsers/fleur/default_parse_tasks.py
  masci_tools/util/constants.py
Due: pylint-errors, pylint-warnings, mypy

Fix literalinclude directive in docs
  docs/source/user_guide/hdf5_parser.md
  masci_tools/io/parsers/fleur/default_parse_tasks.py
Due: pylint-errors, pylint-warnings, mypy

Add pylint disable for cyclic imports that can be safely ignored
  masci_tools/io/parsers/fleur/__init__.py
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Fix two small pylint warnings
  masci_tools/io/cif2inp_ase.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
Due: pylint-errors, pylint-warnings, mypy

Convert atomDiff to Angstroem
  masci_tools/tools/greensfunction.py
  tests/tools/test_jij/test_jij.csv
  tests/tools/test_jij/test_jij_max_shells.csv
  tests/tools/test_jij/test_jij_tensor.csv
  tests/tools/test_jij/test_jij_tensor_max_shells.csv
  tests/tools/test_jij/test_jij_tensor_x.csv
  tests/tools/test_jij/test_jij_tensor_y.csv
Due: pylint-errors, pylint-warnings, mypy

Simplify `inpxml_todict` function used in the `inpxml_parser`
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  tests/parsers/test_fleur_inpxml_parser.py
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_kpoint_labels.yml
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_max6_0_compatibility.yml
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_newer_version.yml
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_todict_Fe_film_SSFT_LO_.yml
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_todict_warnings.yml
Due: pylint-errors, pylint-warnings, mypy

Some small simplifications in fleur parsing functions
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
Due: pylint-errors, pylint-warnings, mypy

Prepare KKR dispersionplot for use with aiida>=2.0
  masci_tools/vis/kkr_plot_bandstruc_qdos.py
Due: pylint-errors, pylint-warnings

ChemicalElements.plot(): correct case attribute=None
  masci_tools/util/chemical_elements.py
Due: pylint-errors, pylint-warnings

Bugfix in kkr dispersion plotter
  masci_tools/vis/kkr_plot_bandstruc_qdos.py
  tests/test_kkr_plotting.py
Due: pylint-errors, pylint-warnings

Split docs job
  .github/workflows/ci.yml
Due: none

Further cleanup of CI
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

bump version 0.11.2 -> 0.11.3
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Update Changelog
  CHANGELOG.md
Due: none

Add explicit test for a fleur out.xml file without any iteration nodes
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  tests/files/fleur/out_no_iterations.xml
  tests/parsers/test_fleur_outxml_parser.py
  tests/parsers/test_fleur_outxml_parser/test_outxml_no_iterations.yml
Due: pylint-errors, pylint-warnings, mypy

Ignore two deprecated files from coverage reports
  codecov.yml
  pyproject.toml
Due: none

Update mypy to 0.971 and small fixes in typing case insensitive containers
  masci_tools/util/case_insensitive_dict.py
  pyproject.toml
Due: pylint-errors, pylint-warnings, mypy

Fix for last commit
  masci_tools/util/case_insensitive_dict.py
Due: pylint-errors, pylint-warnings, mypy

Add typed versions of eval_xpath with runtime typechecking built in
  CHANGELOG.md
  masci_tools/io/fleur_xml.py
  masci_tools/tools/fleur_inpxml_converter.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  masci_tools/util/xml/xml_setters_xpaths.py
  tests/xml/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Add runtime type checking of XPath evaluation routines (#181)
  CHANGELOG.md
  masci_tools/io/fleur_xml.py
  masci_tools/tools/fleur_inpxml_converter.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  masci_tools/util/xml/xml_setters_xpaths.py
  tests/xml/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Make sure that values in `convert_to_xml` are not `None`
  CHANGELOG.md
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  tests/xml/test_xml_converters.py
Due: pylint-errors, pylint-warnings, mypy

Remove `list_return` argument from `eval_xpath_create`
  CHANGELOG.md
  masci_tools/util/xml/xml_setters_xpaths.py
  tests/xml/test_xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings, mypy

Revert change accidentally breaking tests
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings, mypy

Make sure that values in `convert_to_xml` are not `None` (#182)
  CHANGELOG.md
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_setters_xpaths.py
  tests/xml/test_xml_converters.py
  tests/xml/test_xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings, mypy

Add `masci-tools fleur-schema pull <branch>` command to update both schema files at once from the git
  masci_tools/cmdline/commands/fleur_schema.py
Due: pylint-errors, pylint-warnings

Add missing links
  CHANGELOG.md
Due: none

Add `masci-tools fleur-schema pull <branch>` to update XML Schemas (#184)
  CHANGELOG.md
  masci_tools/cmdline/commands/fleur_schema.py
Due: pylint-errors, pylint-warnings

Rename `'gw'` mode to `'spex'` in `get_fleur_modes`
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/util/xml/xml_getters.py
  tests/parsers/test_fleur_outxml_parser/test_outxml_add_tasks_append.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_add_tasks_overwrite.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_additional_tasks_allattribs.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_additional_tasks_simple.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_alliter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken_alliter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken_firstiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_differing_versions.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_empty_out.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_firstiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_force.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_garbage_values.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_indexiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_lastiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_ldahia.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_ldaurelax.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_magnetic.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max3_1compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max4compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max5_0_compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_0_compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_0_noco_vec.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_minimal_mode.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_newer_version.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_no_iterations.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_optional_task_corelevels.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_optional_task_multiple.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_optional_task_noco_angles.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_plot.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_pre_max3_1compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_validation_errors.yml
  tests/xml/test_xml_getters/test_fleur_modes_bulk.yml
  tests/xml/test_xml_getters/test_fleur_modes_film.yml
  tests/xml/test_xml_getters/test_fleur_modes_max4.yml
  tests/xml/test_xml_getters/test_fleur_modes_output.yml
Due: pylint-errors, pylint-warnings, mypy

Add link
  CHANGELOG.md
Due: none

Rename 'gw' mode to 'spex' in get_fleur_modes (#185)
  CHANGELOG.md
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/util/xml/xml_getters.py
  tests/parsers/test_fleur_outxml_parser/test_outxml_add_tasks_append.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_add_tasks_overwrite.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_additional_tasks_allattribs.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_additional_tasks_simple.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_alliter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken_alliter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken_firstiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_differing_versions.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_empty_out.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_firstiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_force.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_garbage_values.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_indexiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_lastiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_ldahia.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_ldaurelax.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_magnetic.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max3_1compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max4compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max5_0_compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_0_compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_0_noco_vec.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_minimal_mode.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_newer_version.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_no_iterations.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_optional_task_corelevels.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_optional_task_multiple.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_optional_task_noco_angles.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_plot.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_pre_max3_1compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_validation_errors.yml
  tests/xml/test_xml_getters/test_fleur_modes_bulk.yml
  tests/xml/test_xml_getters/test_fleur_modes_film.yml
  tests/xml/test_xml_getters/test_fleur_modes_max4.yml
  tests/xml/test_xml_getters/test_fleur_modes_output.yml
Due: pylint-errors, pylint-warnings, mypy

Adding BdG config keywords
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Remove brackets from BdG parameters set for KKRimp
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Add WRITE_ALL_DENLM option to kkr_params
  masci_tools/io/kkr_params.py
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: pylint-errors, pylint-warnings

Add basic documentation for tests
  docs/source/devel_guide/index.md
  docs/source/devel_guide/tests.md
Due: none

Raise NotImplementedError in some functions of plot_methods
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/io_fleurxml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/parse_task_decorators.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_tasks.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/cmdline/parameters/slice.py|
)$ and \.py$
