Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Fix kkrimp parsing for single-site impurity
  masci_tools/io/parsers/kkrimp_parser_functions.py
  masci_tools/io/parsers/kkrparser_functions.py
Due: pylint-errors, pylint-warnings

Move some standalone from util to tools
  masci_tools/tools/kkr_rms_tracker.py
  masci_tools/tools/modifypotential.py
  masci_tools/tools/plot_shapfun.py
Due: pylint-errors, pylint-warnings

Add in the scf namelist
  masci_tools/io/fleur_inpgen.py
Due: pylint-errors, pylint-warnings, mypy

Add support for the magnetic moment definition in the inpgen file
  masci_tools/io/common_functions.py
  masci_tools/io/fleur_inpgen.py
  tests/io/test_fleur_inpgen.py
  tests/io/test_fleur_inpgen/test_read_inpgen_file_comments.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_contents.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_econfig.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_film.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_handle.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_magmom_float.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_magmom_list.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_magmom_str.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_parameters.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_soc_qss.yml
  tests/io/test_fleur_inpgen/test_write_inpgen_file_magmom_float.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_magmom_list.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_magmom_str.txt
Due: pylint-errors, pylint-warnings, mypy

fix pre-commit
  masci_tools/io/fleur_inpgen.py
Due: pylint-errors, pylint-warnings, mypy

Update test files
  tests/xml/test_xml_getters/test_get_structuredata_bulk.yml
  tests/xml/test_xml_getters/test_get_structuredata_film.yml
  tests/xml/test_xml_getters/test_get_structuredata_max4.yml
  tests/xml/test_xml_getters/test_get_structuredata_no_relaxed.yml
  tests/xml/test_xml_getters/test_get_structuredata_norm_kinds.yml
  tests/xml/test_xml_getters/test_get_structuredata_output.yml
  tests/xml/test_xml_getters/test_get_structuredata_relaxed.yml
Due: none

Add support for getting the magnetic moment in get_structuredata
  masci_tools/io/fleur_inpgen.py
  masci_tools/util/xml/xml_getters.py
  tests/files/fleur/Max-R6/inp_NiO.xml
  tests/io/test_fleur_inpgen.py
  tests/io/test_fleur_inpgen/test_mag_mom_float_write_inpgen_roundtrip.txt
  tests/io/test_fleur_inpgen/test_mag_mom_list_write_inpgen_roundtrip.txt
  tests/io/test_fleur_inpgen/test_mag_mom_write_inpgen_roundtrip.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_magmom_list.txt
  tests/xml/test_xml_getters/test_get_structuredata_film.yml
  tests/xml/test_xml_getters/test_get_structuredata_max4.yml
  tests/xml/test_xml_getters/test_get_structuredata_norm_kinds.yml
Due: pylint-errors, pylint-warnings, mypy

simplify typing
  masci_tools/io/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Add another test
  tests/io/test_fleur_inpgen.py
  tests/io/test_fleur_inpgen/test_mag_mom_list_noco_angle_write_inpgen_roundtrip.txt
Due: pylint-errors, pylint-warnings

Add changelog entry
  CHANGELOG.md
Due: none

typing
  masci_tools/io/fleur_inpgen.py
Due: pylint-errors, pylint-warnings, mypy

Support magnetic moment definitions in inpgen IO (#213)
  CHANGELOG.md
  masci_tools/io/common_functions.py
  masci_tools/io/fleur_inpgen.py
  masci_tools/util/xml/xml_getters.py
  tests/files/fleur/Max-R6/inp_NiO.xml
  tests/io/test_fleur_inpgen.py
  tests/io/test_fleur_inpgen/test_mag_mom_float_write_inpgen_roundtrip.txt
  tests/io/test_fleur_inpgen/test_mag_mom_list_noco_angle_write_inpgen_roundtrip.txt
  tests/io/test_fleur_inpgen/test_mag_mom_list_write_inpgen_roundtrip.txt
  tests/io/test_fleur_inpgen/test_mag_mom_write_inpgen_roundtrip.txt
  tests/io/test_fleur_inpgen/test_read_inpgen_file_comments.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_contents.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_econfig.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_film.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_handle.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_magmom_float.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_magmom_list.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_magmom_str.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_parameters.yml
  tests/io/test_fleur_inpgen/test_read_inpgen_file_soc_qss.yml
  tests/io/test_fleur_inpgen/test_write_inpgen_file_magmom_float.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_magmom_list.txt
  tests/io/test_fleur_inpgen/test_write_inpgen_file_magmom_str.txt
  tests/xml/test_xml_getters/test_get_structuredata_bulk.yml
  tests/xml/test_xml_getters/test_get_structuredata_film.yml
  tests/xml/test_xml_getters/test_get_structuredata_max4.yml
  tests/xml/test_xml_getters/test_get_structuredata_no_relaxed.yml
  tests/xml/test_xml_getters/test_get_structuredata_norm_kinds.yml
  tests/xml/test_xml_getters/test_get_structuredata_output.yml
  tests/xml/test_xml_getters/test_get_structuredata_relaxed.yml
Due: pylint-errors, pylint-warnings, mypy

Add command to use pymatgen or ase to convert arbitrary structure formats to inpgen files
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  masci_tools/cmdline/commands/__init__.py
  masci_tools/cmdline/commands/convert_inpgen.py
  pyproject.toml
  tests/cmdline/test_convert_inpgen.py
  tests/cmdline/test_convert_inpgen/test_convert_inpgen.txt
Due: pylint-errors, pylint-warnings

More tests
  tests/cmdline/test_convert_inpgen.py
  tests/cmdline/test_convert_inpgen/test_convert_inpgen_ase.txt
  tests/cmdline/test_convert_inpgen/test_convert_inpgen_cif.txt
  tests/files/cif_files/Si.cif
Due: pylint-errors, pylint-warnings

Deprecate cif2inp_ase script
  CHANGELOG.md
  masci_tools/io/cif2inp_ase.py
Due: pylint-errors, pylint-warnings

Fix CI
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Fix tests
  tests/cmdline/test_convert_inpgen.py
  tests/cmdline/test_convert_inpgen/test_convert_inpgen_cif.txt
Due: pylint-errors, pylint-warnings

Did not fix test correctly
  tests/cmdline/test_convert_inpgen.py
Due: pylint-errors, pylint-warnings

Update to mypy 0.991
  masci_tools/io/common_functions.py
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/tools/greensfunction.py
  masci_tools/util/lockable_containers.py
  masci_tools/util/python_util.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_setters_xpaths.py
  pyproject.toml
Due: pylint-errors, pylint-warnings, mypy

Remove type: ignore
  masci_tools/tools/greensfunction.py
Due: pylint-errors, pylint-warnings, mypy

Add Command `masci-tools convert-inpgen` (#215)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  masci_tools/cmdline/commands/__init__.py
  masci_tools/cmdline/commands/convert_inpgen.py
  masci_tools/io/cif2inp_ase.py
  masci_tools/io/common_functions.py
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/util/lockable_containers.py
  masci_tools/util/python_util.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_setters_xpaths.py
  pyproject.toml
  tests/cmdline/test_convert_inpgen.py
  tests/cmdline/test_convert_inpgen/test_convert_inpgen.txt
  tests/cmdline/test_convert_inpgen/test_convert_inpgen_ase.txt
  tests/cmdline/test_convert_inpgen/test_convert_inpgen_cif.txt
  tests/files/cif_files/Si.cif
Due: pylint-errors, pylint-warnings, mypy

Forgot to add scf to the valid namelists list
  masci_tools/io/fleur_inpgen.py
Due: pylint-errors, pylint-warnings, mypy

Add functions to get and readd the inpgen comments from the XML tree
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/common_functions.py
  tests/io/test_fleurxmlmodifier.py
  tests/io/test_fleurxmlmodifier/test_fleurxml_modifier_include_inpgen_comments.xml
Due: pylint-errors, pylint-warnings, mypy

Update changelog
  CHANGELOG.md
Due: none

bump version 0.13.0 -> 0.14.0
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

fix codecov.yml
  codecov.yml
Due: none

Fix order of readded comments in `readd_inpgen_comments`
  CHANGELOG.md
  masci_tools/util/xml/common_functions.py
  tests/files/fleur/Max-R6/inp_NiO.xml
  tests/io/test_fleurxmlmodifier/test_fleurxml_modifier_include_inpgen_comments.xml
Due: pylint-errors, pylint-warnings, mypy

Fixing parsing error in kkrimp_parser_functions
  masci_tools/io/Untitled.ipynb
  masci_tools/io/common_functions.py
  masci_tools/io/kkr_params.py
  masci_tools/io/parsers/kkrimp_parser_functions.py
  masci_tools/io/parsers/test_files/out_kkrimp
  masci_tools/io/parsers/test_runs_timings.ipynb
Due: pylint-errors, pylint-warnings, mypy

Fixing parsing in kkrparser_functions
  masci_tools/io/parsers/kkrparser_functions.py
  masci_tools/io/parsers/test_runs_timings.ipynb
Due: pylint-errors, pylint-warnings

ChemicalElements: fixed plotting for mendeleev>=0.8.0
  masci_tools/util/chemical_elements.py
Due: pylint-errors, pylint-warnings

Fix matplotlib warnings about providing the cmap argument without color data
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings

Add python 3.11 support
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Fix new pylint warnings
  masci_tools/io/modify_potential.py
  masci_tools/io/parsers/voroparser_functions.py
  masci_tools/vis/parameters.py
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings, mypy

Fix HDF5Reader for python3.11
  masci_tools/io/parsers/hdf5/reader.py
Due: pylint-errors, pylint-warnings, mypy

fix
  tests/io/test_hdf5_reader.py
Due: pylint-errors, pylint-warnings

fix test
  tests/io/test_hdf5_reader.py
Due: pylint-errors, pylint-warnings

Python 3.11 support (#227)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  masci_tools/io/modify_potential.py
  masci_tools/io/parsers/hdf5/reader.py
  masci_tools/io/parsers/voroparser_functions.py
  masci_tools/vis/parameters.py
  masci_tools/vis/plot_methods.py
  pyproject.toml
  tests/io/test_hdf5_reader.py
Due: pylint-errors, pylint-warnings, mypy

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/fleur_xml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/tools/greensf_calculations.py|
    masci_tools/cmdline/parameters/slice.py|
    masci_tools/vis/parameters.py|
    masci_tools/util/ipython.py|
)$ and \.py$
