Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy, version-number

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

more typing
  masci_tools/io/parsers/fleur/fleur_schema/schema_dict.py
  masci_tools/util/case_insensitive_dict.py
  masci_tools/util/lockable_containers.py
  masci_tools/util/parse_tasks_decorators.py
Due: pylint-errors, pylint-warnings, mypy

Typing in schema_dict_util
  masci_tools/io/parsers/fleur/fleur_schema/schema_dict.py
  masci_tools/util/schema_dict_util.py
Due: pylint-errors, pylint-warnings, mypy

More typing
  masci_tools/io/common_functions.py
  masci_tools/io/parsers/fleur/fleur_schema/schema_dict.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/xml_setters_basic.py
Due: pylint-errors, pylint-warnings, mypy

Typing in parse_tasks
  .pre-commit-config.yaml
  masci_tools/util/parse_tasks.py
  masci_tools/util/parse_tasks_decorators.py
Due: pylint-errors, pylint-warnings

Typing in xml/common_functions
  .pre-commit-config.yaml
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings

Typing in xml_getters
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings

Typing in xml/converters and util/econfig
  .pre-commit-config.yaml
  masci_tools/util/econfig.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_setters_basic.py
Due: pylint-errors, pylint-warnings

Fix typing in xml_setters_basic
  masci_tools/util/xml/xml_setters_basic.py
Due: pylint-errors, pylint-warnings

typing in xml_setters_xpaths
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings

Typing in xml_setters_names
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings

Fix typing in schema_dict_util
  masci_tools/util/schema_dict_util.py
Due: pylint-errors, pylint-warnings

typing in fleur_calculate_expression
  .pre-commit-config.yaml
  masci_tools/util/fleur_calculate_expression.py
Due: pylint-errors, pylint-warnings

Typing in io_nmmpmat
  .pre-commit-config.yaml
  masci_tools/io/io_nmmpmat.py
  masci_tools/util/fleur_calculate_expression.py
Due: pylint-errors, pylint-warnings

Typing in xml_setters_nmmpmat
  masci_tools/util/xml/xml_setters_nmmpmat.py
Due: pylint-errors, pylint-warnings

Typing in io_fleurxml
  .pre-commit-config.yaml
  masci_tools/io/io_fleurxml.py
Due: pylint-errors, pylint-warnings

Typing in inpxml_parser
  .pre-commit-config.yaml
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/io/parsers/fleur/fleur_schema/schema_dict.py
Due: pylint-errors, pylint-warnings, mypy

Typing in outxml_parser
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/util/parse_tasks.py
Due: pylint-errors, pylint-warnings

Typing in conversions and task migrations
  masci_tools/io/parsers/fleur/outxml_conversions.py
  masci_tools/io/parsers/fleur/task_migrations.py
Due: pylint-errors, pylint-warnings

Remove unnecessary file
  .pre-commit-config.yaml
Due: none

Avoid errors when lxml-stubs is not installed
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings

Forgot to add dependencies for mypy hook
  setup.py
Due: pylint-errors, pylint-warnings, version-number

Fix lockable_containers typing fro python versions before 3.9
  masci_tools/util/lockable_containers.py
Due: pylint-errors, pylint-warnings

Skip mypy in pre-commit ci
  .pre-commit-config.yaml
Due: none

Fix test failures introduced by the changes for typing
  masci_tools/util/econfig.py
  masci_tools/util/parse_tasks.py
  tests/test_xml_common_functions.py
  tests/test_xml_getters.py
Due: pylint-errors, pylint-warnings

Add some configuration for mypy in pyproject.toml
  pyproject.toml
Due: none

TypedDict alos has to be imported from typing_extensions for older python versions
  masci_tools/io/parsers/fleur/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/io/parsers/fleur/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur/fleur_schema/outschema_todict.py
Due: pylint-errors, pylint-warnings, mypy

Add docstrings
  masci_tools/io/parsers/fleur/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/io/parsers/fleur/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur/fleur_schema/outschema_todict.py
Due: pylint-errors, pylint-warnings, mypy

Fix unused ignore warnings in lockable_containers
  masci_tools/util/lockable_containers.py
Due: pylint-errors, pylint-warnings

Fix more unused ignore warnings
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/io/parsers/fleur/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur/fleur_schema/outschema_todict.py
  masci_tools/io/parsers/fleur/fleur_schema/schema_dict.py
  masci_tools/util/case_insensitive_dict.py
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Remove the rest of unused type:ignore comments
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings

mock imports of lxml for docs for now and correct cmdline tests
  docs/source/conf.py
  tests/cmdline/test_parse.py
Due: pylint-errors, pylint-warnings

Make docs work again
  docs/source/conf.py
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur/fleur_schema/__init__.py
  masci_tools/util/parse_tasks.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  masci_tools/util/xml/xml_setters_xpaths.py
  setup.py
Due: pylint-errors, pylint-warnings, mypy, version-number

lxml-stubs also needs to be installed for sphinx build
  setup.py
Due: pylint-errors, pylint-warnings, version-number

Pass on arguments in test scipts
  tests/run_all.sh
  tests/run_all_cov.sh
  tests/run_all_covhtml.sh
Due: none

Move yapf configuration to pyproject.toml
  .pre-commit-config.yaml
  .style.yapf
  pyproject.toml
Due: none

Move pylint configuration to pyproject.toml
  .pylintrc
  pyproject.toml
  setup.py
Due: pylint-errors, pylint-warnings, version-number

Fix unspecified-encodings warnings
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/tools/cf_calculation.py
  masci_tools/vis/parameters.py
  pyproject.toml
  tests/conftest.py
  tests/test_fleur_inpxml_parser.py
  tests/test_fleur_outxml_parser.py
  tests/test_io_fleur_inpgen.py
  tests/test_io_fleurxml.py
  tests/test_xml_setters_nmmpmat.py
  utils/validate_version_consistency.py
Due: pylint-errors, pylint-warnings, version-number

Add pytest options to pyproject.toml
  pyproject.toml
Due: none

Move imports for typing into TYPE_CHECKING if block
  docs/source/conf.py
  masci_tools/io/io_fleurxml.py
  masci_tools/util/case_insensitive_dict.py
  masci_tools/util/lockable_containers.py
  masci_tools/util/parse_tasks.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
  setup.py
Due: pylint-errors, pylint-warnings, version-number

Make test system executable by just calling pytest in the root folder
  masci_tools/util/case_insensitive_dict.py
  masci_tools/util/xml/xml_getters.py
  pyproject.toml
  setup.py
  tests/cmdline/conftest.py
  tests/cmdline/test_fleur_schema.py
  tests/cmdline/test_parse.py
  tests/cmdline/test_plot.py
  tests/test_cf_calculation.py
  tests/test_common_functions.py
  tests/test_io_fleur_inpgen.py
  tests/test_kkr_plotting.py
  tests/test_kkrimp_tools.py
  tests/test_kkrparams.py
  tests/test_kkrparser_functions.py
  tests/test_voroparser_functions.py
  tests/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings, version-number

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/fleur_schema/.*py|
)$ and \.py$
  version-number: any of: (?x)^(
  setup.py|
  utils/validate_version_consistency.py|
  masci_tools/__init__.py|
  .bumpversion.cfg
)$
