Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

.pre-commit-config.yaml:

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint-errors, pylint-warnings,mypy]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: forbid-new-submodules

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.32.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']
    additional_dependencies: ['toml']

- repo: https://github.com/ikamensh/flynt/
  rev: '0.76'
  hooks:
  -   id: flynt
      args: [
          '--line-length=120',
          '--fail-on-change',
      ]

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [
            '--py37-plus'
        ]

- repo: local
  hooks:

  - id: pylint-errors
    name: pylint-errors
    entry: pylint
    args: [-d, W, -d, R, -d, C]
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: pylint-warnings
    name: pylint-warnings
    entry: pylint
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    files: >-
        (?x)^(
            masci_tools/io/parsers/fleur/.*py|
            masci_tools/io/parsers/fleur_schema/.*py|
            masci_tools/io/parsers/hdf5/.*py|
            masci_tools/io/io_nmmpmat.py|
            masci_tools/io/io_fleurxml.py|
            masci_tools/io/fleur_inpgen.py|
            masci_tools/io/hdf5_util.py|
            masci_tools/io/fleurxmlmodifier.py|
            masci_tools/io/common_functions.py|
            masci_tools/util/xml/.*py|
            masci_tools/util/lockable_containers.py|
            masci_tools/util/case_insensitive_dict.py|
            masci_tools/util/schema_dict_util.py|
            masci_tools/util/parse_task_decorators.py|
            masci_tools/util/logging_util.py|
            masci_tools/util/python_util.py|
            masci_tools/util/math_util.py|
            masci_tools/util/parse_tasks.py|
            masci_tools/util/parse_utils.py|
            masci_tools/util/typing.py|
            masci_tools/util/econfig.py|
            masci_tools/util/fleur_calculate_expression.py|
            masci_tools/tools/fleur_inpxml_converter.py|
            masci_tools/tools/greensfunction.py|
            masci_tools/cmdline/parameters/slice.py|
        )$

For using markdown the `myst_parser` dependency has to be added
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: none

Move index into subdirectory
  docs/source/index.rst
  docs/source/reference/_changelog.md
  docs/source/reference/index.rst
Due: none

Correct headings
  CHANGELOG.md
Due: none

Increase depth
  docs/source/index.rst
Due: none

Fix for defining TypeAliases
  masci_tools/io/common_functions.py
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/io/parsers/hdf5/reader.py
  masci_tools/tools/greensfunction.py
  masci_tools/util/parse_tasks.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/typing.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  masci_tools/util/xml/xml_setters_xpaths.py
  masci_tools/util/xml/xpathbuilder.py
Due: pylint-errors, pylint-warnings, mypy

Another typing fix
  masci_tools/util/schema_dict_util.py
  masci_tools/util/typing.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings, mypy

And another one
  masci_tools/io/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

fix docs
  masci_tools/io/common_functions.py
  masci_tools/util/typing.py
Due: pylint-errors, pylint-warnings, mypy

formatting
  masci_tools/io/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Add missing link
  CHANGELOG.md
Due: none

Add test demonstrating the problem
  tests/vis/test_fleur_vis.py
Due: pylint-errors, pylint-warnings

Fix the issues for matplotlib plots
  masci_tools/vis/plot_methods.py
  tests/files/fleur_vis/spinpol_dos_area.png
Due: pylint-errors, pylint-warnings

Add test making sure that the area plot feature works correctly in bokeh
  masci_tools/vis/plot_methods.py
  tests/vis/test_fleur_vis.py
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_area_plot_bokeh.yml
Due: pylint-errors, pylint-warnings

Fix pylint
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings

Fix https://github.com/JuDFTteam/masci-tools/issues/130
  masci_tools/vis/fleur.py
  masci_tools/vis/matplotlib_plotter.py
  masci_tools/vis/plot_methods.py
  tests/files/fleur_vis/spinpol_dos_omit_spin.png
  tests/vis/test_fleur_vis.py
Due: pylint-errors, pylint-warnings

Some more fixes
  masci_tools/vis/parameters.py
  masci_tools/vis/plot_methods.py
  tests/files/mpl-baseline/test_multi_plot_moved_area.png
Due: pylint-errors, pylint-warnings

Add changelog entry
  CHANGELOG.md
Due: none

Remove removesuffix for now
  masci_tools/vis/fleur.py
Due: pylint-errors, pylint-warnings

Refactor of CFCalculation
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

Replaced print statements in CFCalculation wit proper logging
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

update todos
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

Allow passing figures to plotting functions
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

Allow creation of CFCalculation directly from arrays
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

Bugfix
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

Remove f-strings in logging
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

Update test files
  masci_tools/tools/cf_calculation.py
  tests/files/cf_calculation/CFdata.hdf
  tests/files/cf_calculation/cf_calculation.png
  tests/test_cf_calculation.py
Due: pylint-errors, pylint-warnings

Refactor `plot_crystal_field_calculation`
  masci_tools/tools/cf_calculation.py
  masci_tools/vis/data.py
  tests/files/cf_calculation/cf_calculation.png
Due: pylint-errors, pylint-warnings

Add missing return
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

Add pylint disable
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Also move `plot_crystal_field_potential` to plotter functionality
  masci_tools/tools/cf_calculation.py
  masci_tools/vis/data.py
  masci_tools/vis/matplotlib_plotter.py
  tests/files/cf_calculation/cf_potential.png
Due: pylint-errors, pylint-warnings

update changelog
  CHANGELOG.md
Due: none

Add attribute to `CFCalculation` storing which atom type was read in
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

Improve matplotlib DOS plots
  masci_tools/vis/fleur.py
  masci_tools/vis/plot_methods.py
  tests/files/fleur_vis/dos_defaults.png
  tests/files/fleur_vis/dos_param_by_label.png
  tests/files/fleur_vis/dos_param_by_label_with_general_params.png
  tests/files/fleur_vis/dos_selection.png
  tests/files/fleur_vis/spinpol_dos_area.png
  tests/files/fleur_vis/spinpol_dos_defaults.png
  tests/files/fleur_vis/spinpol_dos_non_spinpol.png
  tests/files/fleur_vis/spinpol_dos_omit_spin.png
  tests/files/fleur_vis/spinpol_dos_only_spin.png
  tests/files/fleur_vis/spinpol_dos_param_changes.png
Due: pylint-errors, pylint-warnings

Add latex axis labels to DOS/band plots in bokeh
  masci_tools/vis/bokeh_plots.py
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_characterize_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_no_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_only_spin_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_selection_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_area_plot_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_non_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_only_spin_bokeh.yml
Due: pylint-errors, pylint-warnings

Bokeh now also supports latex axis tick labels :)
  masci_tools/vis/bokeh_plots.py
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_characterize_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_no_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_only_spin_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_weighted_bokeh.yml
Due: pylint-errors, pylint-warnings

Add spin to legend label when using `only_spin` option
  masci_tools/vis/fleur.py
  tests/files/fleur_vis/spinpol_dos_only_spin.png
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_only_spin_bokeh.yml
Due: pylint-errors, pylint-warnings

Add test for the reported bug
  tests/files/fleur/issue134_files/inp.xml
  tests/files/fleur/issue134_files/input_nmmpmat.txt
  tests/files/fleur/issue134_files/kpts.xml
  tests/files/fleur/issue134_files/sym.xml
  tests/xml/test_xml_setters_nmmpmat.py
Due: pylint-errors, pylint-warnings

Fix the issue by reusing the `read_nmmpmat_block` function and using the complete array instead of more messing around with the text
  masci_tools/util/xml/xml_setters_nmmpmat.py
Due: pylint-errors, pylint-warnings, mypy
