Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

.pre-commit-config.yaml:

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint-errors, pylint-warnings,mypy]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: forbid-new-submodules

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.32.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']
    additional_dependencies: ['toml']

- repo: https://github.com/ikamensh/flynt/
  rev: '0.76'
  hooks:
  -   id: flynt
      args: [
          '--line-length=120',
          '--fail-on-change',
      ]

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [
            '--py37-plus'
        ]

- repo: local
  hooks:

  - id: pylint-errors
    name: pylint-errors
    entry: pylint
    args: [-d, W, -d, R, -d, C]
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: pylint-warnings
    name: pylint-warnings
    entry: pylint
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    files: >-
        (?x)^(
            masci_tools/io/parsers/fleur/.*py|
            masci_tools/io/parsers/fleur_schema/.*py|
            masci_tools/io/parsers/hdf5/.*py|
            masci_tools/io/io_nmmpmat.py|
            masci_tools/io/io_fleurxml.py|
            masci_tools/io/fleur_inpgen.py|
            masci_tools/io/hdf5_util.py|
            masci_tools/io/fleurxmlmodifier.py|
            masci_tools/io/common_functions.py|
            masci_tools/util/xml/.*py|
            masci_tools/util/lockable_containers.py|
            masci_tools/util/case_insensitive_dict.py|
            masci_tools/util/schema_dict_util.py|
            masci_tools/util/parse_task_decorators.py|
            masci_tools/util/logging_util.py|
            masci_tools/util/python_util.py|
            masci_tools/util/math_util.py|
            masci_tools/util/parse_tasks.py|
            masci_tools/util/parse_utils.py|
            masci_tools/util/typing.py|
            masci_tools/util/econfig.py|
            masci_tools/util/fleur_calculate_expression.py|
            masci_tools/tools/fleur_inpxml_converter.py|
            masci_tools/tools/greensfunction.py|
            masci_tools/cmdline/parameters/slice.py|
        )$

Add test making sure that _validate_signature is still working
  tests/io/test_fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings

lxml 4.8 includes a patch (by me :)) that allows pathlib Paths for all of the API https://github.com/lxml/lxml/pull/337 This allows to eliminate some corner cases in the fleur parser
  masci_tools/cmdline/commands/fleur_schema.py
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur_schema/outschema_todict.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  pyproject.toml
  tests/cmdline/conftest.py
Due: pylint-errors, pylint-warnings, mypy

This change is not possible
  masci_tools/io/io_fleurxml.py
  tests/io/test_io_fleurxml.py
Due: pylint-errors, pylint-warnings, mypy

Add parsing of H_so in DMI FT
  masci_tools/io/parsers/fleur/default_parse_tasks.py
Due: pylint-errors, pylint-warnings, mypy

Fix formatting typo
  masci_tools/io/parsers/fleur/default_parse_tasks.py
Due: pylint-errors, pylint-warnings, mypy

Fix pytest-mpl artifact upload
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

Make sure all test jobs run through even if one fails
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Small fixes for adding new regression files for bokeh versions ... in `check_bokeh_plot` fixture
  masci_tools/testing/bokeh.py
Due: pylint-errors, pylint-warnings

Remove bokeh version constraint
  pyproject.toml
Due: none

Missing files
  tests/vis/test_common_plots/bokeh-2.4.2/test_convergence_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_eos_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_line_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_scatter_bokeh.yml
Due: none

Some more fixes and remove empty entries in the json
  masci_tools/testing/bokeh.py
Due: pylint-errors, pylint-warnings

Update regression files for bokeh 2.4.2
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_multi_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_param_change.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_multi.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_multi_fit.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_single.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_single_fit.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_line_default_no_data_line.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_line_multi_deprecated_signature_line.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_multi_scatter_default_no_data.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_multi_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_periodic_table_plot_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_default.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_legend.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_limits.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_param_change.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_straight_lines.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_convergence_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_eos_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_line_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_scatter_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_characterize_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_no_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_only_spin_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_selection_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_defaults_bokeh.yml
Due: none

Update regression files for bokeh 1.4.0
  CHANGELOG.md
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_convergence_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_convergence_multi_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_convergence_param_change.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_lattice_constant_defaults_multi.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_lattice_constant_defaults_multi_fit.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_lattice_constant_defaults_single.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_lattice_constant_defaults_single_fit.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_line_default_no_data_line.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_line_multi_deprecated_signature_line.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_multi_scatter_default_no_data.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_multi_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_periodic_table_plot_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_default.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_legend.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_limits.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_param_change.yml
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_scatter_straight_lines.yml
  tests/vis/test_common_plots/bokeh-1.4.0/test_convergence_bokeh.yml
  tests/vis/test_common_plots/bokeh-1.4.0/test_eos_bokeh.yml
  tests/vis/test_common_plots/bokeh-1.4.0/test_line_bokeh.yml
  tests/vis/test_common_plots/bokeh-1.4.0/test_scatter_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_characterize_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_spinpol_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_spinpol_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_spinpol_no_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_spinpol_only_spin_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_spinpol_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_spinpol_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_bands_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_dos_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_dos_selection_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_spinpol_dos_defaults_bokeh.yml
Due: none

Delete accidentally added files
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_characterize_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_defaults_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_line_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_separate_bands_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_defaults_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_line_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_no_spinpol_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_only_spin_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_separate_bands_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_weighted_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_weighted_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_defaults_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_selection_bokeh.obtained.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_defaults_bokeh.obtained.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update to newer version of lxml-stubs
  docs/source/conf.py
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/io/parsers/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur_schema/outschema_todict.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/tools/fleur_inpxml_converter.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_xpaths.py
  masci_tools/util/xml/xpathbuilder.py
  pyproject.toml
Due: pylint-errors, pylint-warnings, mypy

Add to nitpick-ignore
  docs/source/conf.py
Due: none

More clean types in fleur_schema_parsing functions
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/io/parsers/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur_schema/outschema_todict.py
Due: pylint-errors, pylint-warnings, mypy

Start implementing "matrix" plot (more general version of periodic table plot) to be used for visualizing different datasets
  masci_tools/vis/bokeh_plots.py
  masci_tools/vis/bokeh_plotter.py
Due: pylint-errors, pylint-warnings

Add test
  masci_tools/vis/bokeh_plots.py
  tests/vis/test_bokeh_plots.py
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_defaults.yml
Due: pylint-errors, pylint-warnings

Add ColorBar to matrix plot
  masci_tools/vis/bokeh_plots.py
  masci_tools/vis/bokeh_plotter.py
Due: pylint-errors, pylint-warnings

Move more logic into the base class Plotter
  masci_tools/vis/bokeh_plotter.py
  masci_tools/vis/matplotlib_plotter.py
  masci_tools/vis/parameters.py
Due: pylint-errors, pylint-warnings

Missing file for old bokeh version
  tests/vis/test_bokeh_plots.py
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_matrix_plot_defaults.yml
Due: pylint-errors, pylint-warnings

Add test for categorical axis
  masci_tools/vis/bokeh_plots.py
  tests/vis/test_bokeh_plots.py
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_categorical_axis.yml
Due: pylint-errors, pylint-warnings

Regenerate bokeh 2.4.2 regression files
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_multi_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_param_change.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_multi.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_multi_fit.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_single.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_single_fit.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_line_default_no_data_line.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_line_multi_deprecated_signature_line.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_categorical_axis.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_multi_scatter_default_no_data.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_multi_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_periodic_table_plot_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_default.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_legend.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_limits.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_param_change.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_straight_lines.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_convergence_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_eos_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_line_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_scatter_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_characterize_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_no_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_only_spin_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_selection_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_defaults_bokeh.yml
Due: none

Implement more aggressive filtering out of empty values in bokeh regression files
  masci_tools/testing/bokeh.py
Due: pylint-errors, pylint-warnings

Format fixes
  masci_tools/vis/matplotlib_plotter.py
  tests/vis/test_bokeh_plots.py
Due: pylint-errors, pylint-warnings

Remove unnecessarily complicated expression for error messages
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings, mypy

Fix tests
  tests/xml/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings

Add Changelog entry
  CHANGELOG.md
Due: none

`plot_fleur_dos`: If spin-polarized DOS is avaliable and `spinpol=False` is passed explicitely, add the up and down components to get a complete non-spinpolarized DOS
  masci_tools/vis/fleur.py
Due: pylint-errors, pylint-warnings

Add tests for last commit
  tests/files/fleur_vis/spinpol_dos_non_spinpol.png
  tests/vis/test_fleur_vis.py
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_spinpol_dos_non_spinpol_bokeh.yml
Due: pylint-errors, pylint-warnings

Add tests for last commit
  tests/files/fleur_vis/spinpol_dos_only_spin.png
  tests/vis/test_fleur_vis.py
  tests/vis/test_fleur_vis/bokeh-1.4.0/test_plot_spinpol_dos_only_spin_bokeh.yml
Due: pylint-errors, pylint-warnings

`plot_fleur_dos`: Add `only_spin` option analogous to `plot_fleur_bands`
  masci_tools/vis/fleur.py
Due: pylint-errors, pylint-warnings

Forgot to add files for the right bokeh version
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_non_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_only_spin_bokeh.yml
Due: none

Include changelog in docs build
  docs/source/_changelog.md
  docs/source/index.rst
Due: none

Try including md files
  docs/source/conf.py
Due: none
