Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Minituarize test files
  tests/files/fleur/issue134_files/inp.xml
  tests/files/fleur/issue134_files/kpts.xml
  tests/files/fleur/issue134_files/sym.xml
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Allow negative indices in `read_nmmpmat_block` and raise error for invalid indices
  CHANGELOG.md
  masci_tools/io/io_nmmpmat.py
Due: pylint-errors, pylint-warnings, mypy

Update to mypy 0.940
  masci_tools/util/lockable_containers.py
  pyproject.toml
Due: pylint-errors, pylint-warnings, mypy

Fix for last commit
  masci_tools/util/lockable_containers.py
Due: pylint-errors, pylint-warnings, mypy

Allow to separately plot potential and density in `plot_crystal_field_calculation`
  masci_tools/tools/cf_calculation.py
  tests/files/cf_calculation/cf_calculation_only_density.png
  tests/files/cf_calculation/cf_calculation_only_potential.png
  tests/test_cf_calculation.py
Due: pylint-errors, pylint-warnings

Simplify tests for parser to remove need for updating test file
  tests/parsers/test_parse_tasks.py
Due: pylint-errors, pylint-warnings

Fix in pre commit config
  .pre-commit-config.yaml
Due: none

Add functionality to `matrix_plot`: Give secondary color data the rectangles are then divided into triangles and both color maps are shown The mapping is adjusted to be the same for both colors
  masci_tools/vis/bokeh_plots.py
  tests/vis/test_bokeh_plots.py
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_categorical_axis_secondary_color.yml
Due: pylint-errors, pylint-warnings

Change function for secondary color test
  tests/vis/test_bokeh_plots.py
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_categorical_axis_secondary_color.yml
Due: pylint-errors, pylint-warnings

Add comment explaining what is done for the secondary color in `matrix_plot`
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings

Explicitly allow XPathElementEvaluator in schema_dict_util
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Fixes for last commit
  docs/source/conf.py
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

fix new pylint warning
  masci_tools/util/case_insensitive_dict.py
Due: pylint-errors, pylint-warnings, mypy

Correct github ci workflow
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Fix for last commit
  .github/workflows/ci.yml
Due: none

Add TS contribution to free energy to `outxml_parser`
  CHANGELOG.md
  masci_tools/io/parsers/fleur/default_parse_tasks.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  tests/parsers/test_fleur_outxml_parser/test_outxml_add_tasks_append.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_add_tasks_overwrite.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_additional_tasks_allattribs.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_additional_tasks_simple.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_alliter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_broken_firstiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_differing_versions.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_empty_out.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_firstiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_garbage_values.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_indexiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_lastiter.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_ldahia.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_ldaurelax.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_magnetic.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max3_1compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max4compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max5_0_compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_0_compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_0_noco_vec.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_minimal_mode.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_newer_version.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_optional_task_corelevels.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_optional_task_multiple.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_optional_task_noco_angles.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_pre_max3_1compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_validation_errors.yml
Due: pylint-errors, pylint-warnings, mypy

bump version 0.8.0 -> 0.9.0alpha0
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

formatting
  masci_tools/io/parsers/fleur/default_parse_tasks.py
Due: pylint-errors, pylint-warnings, mypy

Fix in HDF5Reader for compatibility of aiida-fleur with aiida-core 2.0
  CHANGELOG.md
  masci_tools/io/parsers/hdf5/reader.py
Due: pylint-errors, pylint-warnings, mypy

bump version 0.9.0alpha0 -> 0.9.0
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Rename changelog entry
  CHANGELOG.md
Due: none

Add new changelog entry
  CHANGELOG.md
Due: none

Fix bug in using fallback version of bokeh version
  CHANGELOG.md
  masci_tools/testing/bokeh.py
Due: pylint-errors, pylint-warnings

Fix bug in complex numbers in XML converters for complex numbers from fortran. whitespace at the beginning/end would lead to not recognizing the number
  masci_tools/util/xml/converters.py
  tests/xml/test_xml_converters.py
Due: pylint-errors, pylint-warnings, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Added standalone function for fleurinp xml converter to allow conversions without going via the commandline
  CHANGELOG.md
  masci_tools/tools/fleur_inpxml_converter.py
  masci_tools/util/typing.py
  tests/cmdline/test_inpxml_converter.py
Due: pylint-errors, pylint-warnings, mypy

Fix last commit
  masci_tools/util/typing.py
Due: pylint-errors, pylint-warnings, mypy

Make typing of base types from fleur schema more specific
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/util/xml/converters.py
Due: pylint-errors, pylint-warnings, mypy

Fix formatting in error message
  masci_tools/tools/cf_calculation.py
  masci_tools/util/xml/common_functions.py
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings, mypy

Fix for last commit
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings

bump version 0.9.0 -> 0.9.1
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Update changelog entry
  CHANGELOG.md
Due: none

Generalize nmmpmat rotation to correctly produce the inverse rotations
  masci_tools/io/common_functions.py
  masci_tools/io/io_nmmpmat.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
Due: pylint-errors, pylint-warnings, mypy

Fix mapping logic in xml_setters_nmmpmat
  masci_tools/util/xml/xml_setters_nmmpmat.py
Due: pylint-errors, pylint-warnings, mypy

Add align_nmmpmat_to_sqa setter
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/collect_xml_setters.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
Due: pylint-errors, pylint-warnings, mypy

Missing
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
Due: none

Allow passing orbital='all' to rotate_nmmpmat
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
Due: pylint-errors, pylint-warnings, mypy

Add tests
  masci_tools/util/xml/xml_setters_nmmpmat.py
  tests/xml/test_xml_setters_nmmpmat.py
  tests/xml/test_xml_setters_nmmpmat/test_rotate_nmmpmat_all.txt
  tests/xml/test_xml_setters_nmmpmat/test_rotate_nmmpmat_inverse.txt
Due: pylint-errors, pylint-warnings, mypy

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/io_fleurxml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/parse_task_decorators.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_tasks.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/cmdline/parameters/slice.py|
)$ and \.py$
