Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Correct fallback test
  tests/files/fleur/output_newer_version.xml
  tests/parsers/test_fleur_outxml_parser/test_outxml_newer_version.yml
Due: none

Reactivate 3.7 testing
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

remove unused type: ignore
  masci_tools/tools/greensfunction.py
Due: pylint-errors, pylint-warnings, mypy

Update Changelog
  CHANGELOG.md
Due: none

bump version 0.11.3 -> 0.12.0
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

fix docs dependency
  pyproject.toml
Due: none

Bugfix in XML setters: Make sure that setting xcFunctional is also case-insensitive
  CHANGELOG.md
  masci_tools/util/xml/xml_setters_names.py
  tests/xml/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Add inputs '<PHASE_BDG>', 'NQDOSMAXPOINTS', '<NONCOBFIELD>' and minor bugfix for stability.
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Update kkrparams test files
  tests/test_kkrparams/test_get_dict.yml
  tests/test_kkrparams/test_read_slab.yml
Due: none

Try to add python 3.11 testing
  .github/workflows/ci.yml
Due: none

fix version number
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Deactivated 3.11 testing again
  .github/workflows/ci.yml
Due: none

Fix in `set_kpointmesh`: Add the mesh dimensions as attributes at the top
  CHANGELOG.md
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_names.py
  tests/files/fleur/inp_kmesh_no_mesh_attrs.xml
  tests/xml/test_xml_getters.py
  tests/xml/test_xml_getters/test_parameter_kpt_no_mesh_attributes.yml
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
  tests/xml/test_xml_setters_names.py
  tests/xml/test_xml_setters_names/test_set_kpointmesh.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_film.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_full_bz.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_no_map.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_shift.yml
Due: pylint-errors, pylint-warnings, mypy

Add link to rtd site with implementation details and considerations of Fleur XML functions
  docs/source/devel_guide/fleur_parser.md
Due: none

In FleurXMLModifier explicitly support dev versions with warnings
  masci_tools/io/fleurxmlmodifier.py
  tests/io/test_fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings, mypy

Rename parameter, structure and kpoints getter
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Add changelog entry
  CHANGELOG.md
Due: none

Remove references to old names and adjust test names
  docs/source/user_guide/fleur_parser.md
  masci_tools/cmdline/commands/parse.py
  masci_tools/io/parsers/fleur/default_parse_tasks.py
  masci_tools/util/xml/xml_getters.py
  tests/io/test_fleur_inpgen.py
  tests/xml/test_xml_getters.py
  tests/xml/test_xml_getters/test_get_kpointsdata_bulk.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_film.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_max4.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_multiple_sets.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_multiple_sets_selection.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_multiple_sets_selection_index.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_multiple_sets_selection_used.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_output.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_output_max4.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_single_kpoint.yml
  tests/xml/test_xml_getters/test_get_parameterdata_bulk.yml
  tests/xml/test_xml_getters/test_get_parameterdata_econfig_extraction.yml
  tests/xml/test_xml_getters/test_get_parameterdata_econfig_extraction_not_inpgen_ready.yml
  tests/xml/test_xml_getters/test_get_parameterdata_film.yml
  tests/xml/test_xml_getters/test_get_parameterdata_kpoint_with_gamma.yml
  tests/xml/test_xml_getters/test_get_parameterdata_kpt_no_mesh_attributes.yml
  tests/xml/test_xml_getters/test_get_parameterdata_max4.yml
  tests/xml/test_xml_getters/test_get_parameterdata_mesh_specification.yml
  tests/xml/test_xml_getters/test_get_parameterdata_norm_kinds.yml
  tests/xml/test_xml_getters/test_get_parameterdata_output.yml
  tests/xml/test_xml_getters/test_get_parameterdata_special_los.yml
  tests/xml/test_xml_getters/test_get_parameterdata_special_los_not_allowed.yml
  tests/xml/test_xml_getters/test_get_structuredata_bulk.yml
  tests/xml/test_xml_getters/test_get_structuredata_film.yml
  tests/xml/test_xml_getters/test_get_structuredata_max4.yml
  tests/xml/test_xml_getters/test_get_structuredata_no_relaxed.yml
  tests/xml/test_xml_getters/test_get_structuredata_norm_kinds.yml
  tests/xml/test_xml_getters/test_get_structuredata_output.yml
  tests/xml/test_xml_getters/test_get_structuredata_relaxed.yml
  tests/xml/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Fix type hints
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Add reference
  CHANGELOG.md
Due: none

Add changelog
  CHANGELOG.md
Due: none

`FleurXMLModifier`: explicitly support dev versions with warnings (#209)
  masci_tools/io/fleurxmlmodifier.py
  tests/io/test_fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings, mypy

Adjust XML getter names (#208)
  CHANGELOG.md
  docs/source/user_guide/fleur_parser.md
  masci_tools/cmdline/commands/parse.py
  masci_tools/io/parsers/fleur/default_parse_tasks.py
  masci_tools/util/xml/xml_getters.py
  tests/io/test_fleur_inpgen.py
  tests/xml/test_xml_getters.py
  tests/xml/test_xml_getters/test_get_kpointsdata_bulk.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_film.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_max4.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_multiple_sets.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_multiple_sets_selection.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_multiple_sets_selection_index.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_multiple_sets_selection_used.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_output.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_output_max4.yml
  tests/xml/test_xml_getters/test_get_kpointsdata_single_kpoint.yml
  tests/xml/test_xml_getters/test_get_parameterdata_bulk.yml
  tests/xml/test_xml_getters/test_get_parameterdata_econfig_extraction.yml
  tests/xml/test_xml_getters/test_get_parameterdata_econfig_extraction_not_inpgen_ready.yml
  tests/xml/test_xml_getters/test_get_parameterdata_film.yml
  tests/xml/test_xml_getters/test_get_parameterdata_kpoint_with_gamma.yml
  tests/xml/test_xml_getters/test_get_parameterdata_kpt_no_mesh_attributes.yml
  tests/xml/test_xml_getters/test_get_parameterdata_max4.yml
  tests/xml/test_xml_getters/test_get_parameterdata_mesh_specification.yml
  tests/xml/test_xml_getters/test_get_parameterdata_norm_kinds.yml
  tests/xml/test_xml_getters/test_get_parameterdata_output.yml
  tests/xml/test_xml_getters/test_get_parameterdata_special_los.yml
  tests/xml/test_xml_getters/test_get_parameterdata_special_los_not_allowed.yml
  tests/xml/test_xml_getters/test_get_structuredata_bulk.yml
  tests/xml/test_xml_getters/test_get_structuredata_film.yml
  tests/xml/test_xml_getters/test_get_structuredata_max4.yml
  tests/xml/test_xml_getters/test_get_structuredata_no_relaxed.yml
  tests/xml/test_xml_getters/test_get_structuredata_norm_kinds.yml
  tests/xml/test_xml_getters/test_get_structuredata_output.yml
  tests/xml/test_xml_getters/test_get_structuredata_relaxed.yml
  tests/xml/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

bump version 0.12.0 -> 0.13.0
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Update changelog
  CHANGELOG.md
Due: none

Add TOL_ALAT_CHECK to kkrparams
  masci_tools/io/kkr_params.py
Due: pylint-errors, pylint-warnings

Fix summing of atom weights in HDF5Reader
  masci_tools/io/parsers/hdf5/recipes.py
  masci_tools/io/parsers/hdf5/transforms.py
Due: pylint-errors, pylint-warnings, mypy

Fix dos_order for specifying custom keys
  masci_tools/vis/fleur.py
Due: pylint-errors, pylint-warnings

Fix parameter specification from label in DOS without spin suffixes
  masci_tools/vis/fleur.py
Due: pylint-errors, pylint-warnings

Add test for DOS plot with custom name
  tests/files/fleur_vis/spinpol_dos_custom_plot_keys.png
  tests/vis/test_fleur_vis.py
Due: pylint-errors, pylint-warnings

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/fleur_xml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/tools/greensf_calculations.py|
    masci_tools/cmdline/parameters/slice.py|
    masci_tools/vis/parameters.py|
    masci_tools/util/ipython.py|
)$ and \.py$
