Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy, version-number

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Fix options for pytest in pyproject.toml
  .coveragerc
  pyproject.toml
  setup.py
Due: pylint-errors, pylint-warnings, version-number

Adjust test workflow to run pytest in root folder
  .coveragerc
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  pyproject.toml
Due: none

Fix docs
  docs/source/conf.py
Due: none

Adjust artifact paths
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Try to fix codecov
  codecov.yml
Due: none

Fix coverage if package was not installed in editable mode
  .coveragerc
  pyproject.toml
Due: none

INstall in editable mode in github workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Fix some more unspecified-encodings warnings
  tests/test_common_functions.py
  tests/test_kkrimp_tools.py
  tests/test_kkrparser_functions.py
  tests/test_voroparser_functions.py
Due: pylint-errors, pylint-warnings

Add a fixture (not yet used) to remove Path handling to reference files in the tests/files folder
  tests/conftest.py
Due: pylint-errors, pylint-warnings

Change default value of site_namedtuple in get_structure_data to True (False was deprecated since ``0.5.0``)
  masci_tools/cmdline/commands/parse.py
  masci_tools/util/xml/xml_getters.py
  tests/test_io_fleur_inpgen.py
  tests/test_xml_getters.py
Due: pylint-errors, pylint-warnings

Fix format
  tests/test_kkrimp_tools.py
Due: pylint-errors, pylint-warnings

FIx no-else-return and no-else-raise warnings
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/io/parsers/fleur/fleur_schema/schema_dict.py
  masci_tools/io/parsers/hdf5/reader.py
  masci_tools/testing/bokeh.py
  masci_tools/tools/cf_calculation.py
  masci_tools/tools/greensfunction.py
  masci_tools/util/case_insensitive_dict.py
  masci_tools/util/econfig.py
  masci_tools/util/fleur_calculate_expression.py
  masci_tools/util/parse_tasks.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/vis/bokeh_plots.py
  masci_tools/vis/common.py
  masci_tools/vis/data.py
  masci_tools/vis/parameters.py
  masci_tools/vis/plot_methods.py
  pyproject.toml
Due: pylint-errors, pylint-warnings, mypy

Remove object inheritance
  masci_tools/io/parsers/fleur/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/vis/fleur.py
  masci_tools/vis/parameters.py
  masci_tools/vis/plot_methods.py
  pyproject.toml
  tests/test_bokeh_plots.py
  tests/test_common_functions.py
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings, mypy

Fix some protected-access warnings
  masci_tools/io/parsers/hdf5/reader.py
  masci_tools/io/parsers/hdf5/transforms.py
  masci_tools/util/lockable_containers.py
  masci_tools/util/parse_tasks_decorators.py
  masci_tools/vis/data.py
  masci_tools/vis/parameters.py
  pyproject.toml
  tests/cmdline/conftest.py
  tests/test_fleurxmlmodifier.py
  tests/test_kkrparser_functions.py
  tests/test_lockable_containers.py
  tests/test_schema_dict.py
  tests/test_voroparser_functions.py
Due: pylint-errors, pylint-warnings

Fix definition of test-file fixture
  tests/conftest.py
Due: pylint-errors, pylint-warnings

Use test-file fixture in text_xml_common_functions
  tests/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings

Remove paths in test_xml_converters
  tests/test_xml_converters.py
Due: pylint-errors, pylint-warnings

Use test-file fixture in xml_getters
  tests/test_xml_getters.py
Due: pylint-errors, pylint-warnings

Use test_file fixture in xml_setters_basic
  tests/test_xml_setters_basic.py
Due: pylint-errors, pylint-warnings

Use test-file fixture in xml_setters_names
  tests/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings

Use test-file fixture in xml_setters_nmmpmat
  tests/test_xml_setters_nmmpmat.py
Due: pylint-errors, pylint-warnings

Use test-file fixture in xml_setters_xpaths
  tests/test_xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings

Use test-file fixture in schema_dict_util
  tests/test_schema_dict_util.py
Due: pylint-errors, pylint-warnings

Use test-file fixture in test_io_fleur_inpgen
  tests/test_io_fleur_inpgen.py
Due: pylint-errors, pylint-warnings

Use test_file fixture in test_io_fleurxml
  tests/test_io_fleurxml.py
Due: pylint-errors, pylint-warnings

Fix formatting
  pyproject.toml
  tests/conftest.py
  tests/test_io_fleurxml.py
  tests/test_schema_dict_util.py
  tests/test_xml_common_functions.py
  tests/test_xml_setters_basic.py
Due: pylint-errors, pylint-warnings

Fix typo in return type of xpath evaluation and add possibilty of using XPath class in eval_xpath and passing variables
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings

Readd type:ignore comments, which could only be removed because of a typo fixed in the last commit
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings

Another fix for Docs
  docs/source/conf.py
Due: none

Update dependencies in pyproject.toml
  pyproject.toml
Due: none

Move schema_dict_util tests into xml folder
  tests/xml/test_schema_dict_util.py
Due: pylint-errors, pylint-warnings

Move util tests into subfolder
  tests/util/test_case_insensitive_dict.py
  tests/util/test_case_insensitive_frozenset.py
  tests/util/test_econfig.py
  tests/util/test_fleur_calculate_expression.py
  tests/util/test_lockable_containers.py
Due: pylint-errors, pylint-warnings

Move fleur_schema folder into parser directory
  masci_tools/io/parsers/fleur_schema/0.27/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.28/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.29/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.29/FleurOutputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.30/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.30/FleurOutputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.31/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.31/FleurOutputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.32/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.33/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.33/FleurOutputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.34/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.34/FleurOutputSchema.xsd
  masci_tools/io/parsers/fleur_schema/__init__.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/io/parsers/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur_schema/outschema_todict.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
Due: pylint-errors, pylint-warnings

Readd __init__ file of fleur_schema to properly deprecate the module
  masci_tools/io/parsers/fleur/fleur_schema/__init__.py
Due: pylint-errors, pylint-warnings, mypy

Correct occurrences of the concrete file paths to fleur_schema folder
  MANIFEST.in
  masci_tools/cmdline/commands/fleur_schema.py
  tests/cmdline/conftest.py
  tests/test_schema_dict.py
Due: pylint-errors, pylint-warnings

Remove old imports
  docs/source/devel_guide/fleur_parser.rst
  docs/source/module_guide/code.rst
  docs/source/module_guide/tools.rst
  masci_tools/cmdline/commands/parse.py
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/io/parsers/fleur/fleur_schema/__init__.py
  masci_tools/util/parse_tasks.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_names.py
  tests/test_schema_dict.py
  tests/xml/test_schema_dict_util.py
  tests/xml/test_xml_converters.py
  tests/xml/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Add tying to hdf5_transformation decorator
  masci_tools/io/parsers/hdf5/transforms.py
Due: pylint-errors, pylint-warnings

Remove some leftover old imports of fleur_schema module
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  masci_tools/util/xml/xml_setters_xpaths.py
  tests/xml/test_schema_dict_util.py
  tests/xml/test_xml_getters.py
Due: pylint-errors, pylint-warnings

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/fleur_schema/.*py|
)$ and \.py$
  version-number: any of: (?x)^(
  setup.py|
  utils/validate_version_consistency.py|
  masci_tools/__init__.py|
  .bumpversion.cfg
)$
