Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

.pre-commit-config.yaml:

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint-errors, pylint-warnings,mypy]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]
    - id: check-yaml
    - id: check-toml
    - id: check-added-large-files
    - id: forbid-new-submodules

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.32.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']
    additional_dependencies: ['toml']

- repo: https://github.com/ikamensh/flynt/
  rev: '0.76'
  hooks:
  -   id: flynt
      args: [
          '--line-length=120',
          '--fail-on-change',
      ]

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [
            '--py37-plus'
        ]

- repo: local
  hooks:

  - id: pylint-errors
    name: pylint-errors
    entry: pylint
    args: [-d, W, -d, R, -d, C]
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: pylint-warnings
    name: pylint-warnings
    entry: pylint
    verbose: true
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    files: >-
        (?x)^(
            masci_tools/io/parsers/fleur/.*py|
            masci_tools/io/parsers/fleur_schema/.*py|
            masci_tools/io/parsers/hdf5/.*py|
            masci_tools/io/io_nmmpmat.py|
            masci_tools/io/io_fleurxml.py|
            masci_tools/io/fleur_inpgen.py|
            masci_tools/io/hdf5_util.py|
            masci_tools/io/fleurxmlmodifier.py|
            masci_tools/io/common_functions.py|
            masci_tools/util/xml/.*py|
            masci_tools/util/lockable_containers.py|
            masci_tools/util/case_insensitive_dict.py|
            masci_tools/util/schema_dict_util.py|
            masci_tools/util/parse_task_decorators.py|
            masci_tools/util/logging_util.py|
            masci_tools/util/python_util.py|
            masci_tools/util/math_util.py|
            masci_tools/util/parse_tasks.py|
            masci_tools/util/parse_utils.py|
            masci_tools/util/typing.py|
            masci_tools/util/econfig.py|
            masci_tools/util/fleur_calculate_expression.py|
            masci_tools/tools/fleur_inpxml_converter.py|
            masci_tools/tools/greensfunction.py|
            masci_tools/cmdline/parameters/slice.py|
        )$

Convert user_guide/fleur_plots to myst
  docs/source/user_guide/fleur_plots.md
  docs/source/user_guide/fleur_plots.rst
Due: none

Convert index pages to myst
  docs/source/devel_guide/index.md
  docs/source/devel_guide/index.rst
  docs/source/index.md
  docs/source/index.rst
  docs/source/user_guide/index.md
  docs/source/user_guide/index.rst
Due: none

Convert the rest to myst
  docs/source/reference/index.md
  docs/source/reference/index.rst
  docs/source/reference/module_guide/code.md
  docs/source/reference/module_guide/index.md
  docs/source/reference/module_guide/index.rst
  docs/source/reference/module_guide/tools.md
Due: none

Remove md extension
  docs/source/reference/index.md
Due: none

Add Changelog entry
  CHANGELOG.md
Due: none

Add missing link
  CHANGELOG.md
Due: none

Make fleur_plots into myst_nb and execute them
  docs/source/images/bandstructure_simple_non_spinpol.png
  docs/source/images/bandstructure_simple_spinpol.png
  docs/source/images/bandstructure_weighted_non_spinpol.png
  docs/source/images/bandstructure_weighted_spinpol.png
  docs/source/images/dos_non_spinpol_multiplied.png
  docs/source/images/dos_non_spinpol_selection.png
  docs/source/images/dos_non_spinpol_standard.png
  docs/source/images/dos_spinpol_selection.png
  docs/source/images/dos_spinpol_standard.png
  docs/source/user_guide/files/banddos_bands.hdf
  docs/source/user_guide/files/banddos_dos.hdf
  docs/source/user_guide/files/banddos_spinpol_bands.hdf
  docs/source/user_guide/files/banddos_spinpol_dos.hdf
  docs/source/user_guide/fleur_plots.md
Due: none

Add missing section on `only_spin` for DOS plots
  docs/source/user_guide/fleur_plots.md
Due: none

Use more kpoints for spinpolarized bandstructure
  docs/source/user_guide/files/banddos_spinpol_bands.hdf
Due: none

Also encode float lists in bokeh regression files
  masci_tools/testing/bokeh.py
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_param_change.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_categorical_axis.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_categorical_axis_secondary_color.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_defaults.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_convergence_bokeh.yml
Due: pylint-errors, pylint-warnings

Another fix for bokeh testing Also round single float numbers to the same precision
  masci_tools/testing/bokeh.py
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_categorical_axis.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_periodic_table_plot_defaults.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_characterize_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_no_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_only_spin_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_weighted_bokeh.yml
Due: pylint-errors, pylint-warnings

Forgot to regenerate one test file
  tests/tools/test_greensfunction/bokeh-2.4.2/test_plot_kresolved_greensfunction_mpl_bokeh.yml
Due: none

Remove redundant code-cell from doc output
  docs/source/user_guide/fleur_plots.md
Due: none

Docs: `user_guide/fleur_plots` Adjust plot limits for spin polarized data
  docs/source/user_guide/fleur_plots.md
Due: none

Unify return type of FleurXMLModifier.modify_xmlfile method
  CHANGELOG.md
  docs/source/user_guide/fleurxmlmodifier.md
  masci_tools/io/fleurxmlmodifier.py
  tests/io/test_fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings, mypy

bump version 0.10.1 -> 0.11.0
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Update Changelog entry
  CHANGELOG.md
Due: none

Add empty Changelog entry
  CHANGELOG.md
Due: none

Add python 3.11 testing (Allowed to fail)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Add installation of libxml2-dev
  .github/workflows/ci.yml
Due: none

Anotehr missing library
  .github/workflows/ci.yml
Due: none

Next try
  .github/workflows/ci.yml
Due: none

And another
  .github/workflows/ci.yml
Due: none

Bugfix in `reverse_xinclude`
  CHANGELOG.md
  masci_tools/util/schema_dict_util.py
  tests/xml/test_schema_dict_util.py
Due: pylint-errors, pylint-warnings, mypy

bump version 0.11.0 -> 0.11.1
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Fix for order in bokeh regression files
  masci_tools/testing/bokeh.py
  tests/tools/test_greensfunction/bokeh-2.4.2/test_plot_kresolved_greensfunction_mpl_bokeh.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_multi_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_convergence_param_change.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_multi.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_multi_fit.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_single.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_lattice_constant_defaults_single_fit.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_line_default_no_data_line.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_line_multi_deprecated_signature_line.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_matrix_plot_categorical_axis_secondary_color.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_multi_scatter_default_no_data.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_multi_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_periodic_table_plot_defaults.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_default.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_deprecated_signature.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_legend.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_limits.yml
  tests/vis/test_bokeh_plots/bokeh-2.4.2/test_scatter_straight_lines.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_convergence_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_eos_bokeh.yml
  tests/vis/test_common_plots/bokeh-2.4.2/test_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_characterize_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_line_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_no_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_only_spin_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_separate_bands_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_spinpol_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_bands_weighted_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_dos_selection_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_area_plot_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_defaults_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_non_spinpol_bokeh.yml
  tests/vis/test_fleur_vis/bokeh-2.4.2/test_plot_spinpol_dos_only_spin_bokeh.yml
Due: pylint-errors, pylint-warnings

Remove python 3.11 testing for now again
  .github/workflows/ci.yml
Due: none

Fix column names in decompose_jij_tensor
  CHANGELOG.md
  masci_tools/tools/greensf_calculations.py
  tests/tools/test_jij/test_jij_tensor.csv
  tests/tools/test_jij/test_jij_tensor_x.csv
  tests/tools/test_jij/test_jij_tensor_y.csv
Due: pylint-errors, pylint-warnings

Add typing to `tools/greensf_calculations.py`
  .pre-commit-config.yaml
  masci_tools/tools/greensf_calculations.py
  masci_tools/tools/greensfunction.py
  pyproject.toml
Due: pylint-errors, pylint-warnings, mypy

Add function to calculate reciprocal function of heisenberg constants
  masci_tools/tools/greensf_calculations.py
Due: pylint-errors, pylint-warnings

Fix docstring
  masci_tools/tools/greensf_calculations.py
Due: pylint-errors, pylint-warnings

Changes to make aiida-kkr work with aiida-core version 2.X
  masci_tools/io/common_functions.py
  masci_tools/io/parsers/kkrparser_functions.py
  masci_tools/io/parsers/voroparser_functions.py
Due: pylint-errors, pylint-warnings, mypy

Fix some pre-commit complaints
  masci_tools/io/common_functions.py
  masci_tools/io/modify_potential.py
  masci_tools/io/parsers/kkrimp_parser_functions.py
  masci_tools/io/parsers/kkrparser_functions.py
  masci_tools/io/parsers/voroparser_functions.py
  masci_tools/vis/kkr_plot_shapefun.py
  tests/test_kkrparams.py
  tests/test_kkrparser_functions.py
  tests/test_voroparser_functions.py
Due: pylint-errors, pylint-warnings, mypy

Fix test for KKRimpParser
  masci_tools/io/parsers/kkrimp_parser_functions.py
Due: pylint-errors, pylint-warnings

Fix math directives in some docstrings
  masci_tools/io/io_nmmpmat.py
  masci_tools/tools/greensf_calculations.py
  masci_tools/tools/greensfunction.py
Due: pylint-errors, pylint-warnings, mypy

Update masci_tools/io/common_functions.py
  masci_tools/io/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Add deprecation warnings to `kkr_rms_tracker.py` and `util/modify_potential.py` Also skip `kkr_rms_tracker` in pylint hook
  masci_tools/util/kkr_rms_tracker.py
  masci_tools/util/modifypotential.py
Due: pylint-errors, pylint-warnings

Update CHANGELOG
  .github/workflows/cd.yml
  CHANGELOG.md
Due: none

bump version 0.11.1 -> 0.11.2
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings
