Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy, version-number

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Typing fixes in fleur_schema_parser_functions
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
Due: pylint-errors, pylint-warnings

Turn on strict optional checking since it's much nicer now with the reduced number of braces
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/io_nmmpmat.py
  masci_tools/io/parsers/fleur/fleur_inpxml_parser.py
  masci_tools/io/parsers/fleur_schema/fleur_schema_parser_functions.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/io/parsers/hdf5/reader.py
  masci_tools/util/case_insensitive_dict.py
  masci_tools/util/fleur_calculate_expression.py
  masci_tools/util/parse_tasks.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_nmmpmat.py
  masci_tools/util/xml/xpathbuilder.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

FIx for sphinx apparent bug in resolving unions in overload functions
  docs/source/conf.py
Due: none

Move return type of xml_setters to XMLLike
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings

Build docs on python 3.9 to avoid errors
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .readthedocs.yml
Due: none

formatting
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings

A bit of cleanup
  masci_tools/cmdline/commands/fleur_schema.py
  masci_tools/cmdline/commands/parse.py
  masci_tools/io/common_functions.py
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/tools/cf_calculation.py
  masci_tools/tools/fleur_inpxml_converter.py
  masci_tools/util/case_insensitive_dict.py
  masci_tools/util/fleur_calculate_expression.py
  masci_tools/util/lockable_containers.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/vis/data.py
  masci_tools/vis/fleur.py
  tests/conftest.py
  tests/test_plotter.py
  tests/util/test_case_insensitive_frozenset.py
  tests/util/test_fleur_calculate_expression.py
  tests/xml/test_schema_dict_util.py
  tests/xml/test_xml_common_functions.py
  tests/xml/test_xml_setters_basic.py
  tests/xml/test_xml_setters_names.py
  tests/xml/test_xml_setters_nmmpmat.py
Due: pylint-errors, pylint-warnings

add more strict configuration
  masci_tools/io/parsers/hdf5/reader.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Add Changelog entry
  CHANGELOG.md
Due: none

Bugfix for option excluding points outside the plot area
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings

Add changleog entry for last bugfix
  CHANGELOG.md
Due: none

Fix adding up of partial sums in HDF5 transforms if some of the patterns are not present in the dataset
  CHANGELOG.md
  masci_tools/io/parsers/hdf5/transforms.py
Due: pylint-errors, pylint-warnings

Pin sphinx-toolbox to fix docs failure
  setup.py
Due: pylint-errors, pylint-warnings, version-number

formatting fixes
  setup.py
Due: pylint-errors, pylint-warnings, version-number

Fix formatting due to new yapf version
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings

Prepare Release v0.7.1
  .bumpversion.cfg
  CHANGELOG.md
  masci_tools/__init__.py
  pyproject.toml
  setup.py
Due: pylint-errors, pylint-warnings, version-number

Switch back to python 3.8 for docs build
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .readthedocs.yml
Due: none

Revert "Switch back to python 3.8 for docs build"
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .readthedocs.yml
Due: none

Try to fix readthedocs build
  .readthedocs.yml
Due: none

Add new Changelog entry for latest
  CHANGELOG.md
Due: none

Test creating a workflow pulling new fleur schemas from fleur git
  .github/workflows/fleur-release.yml
Due: none

Fix typo
  .github/workflows/fleur-release.yml
Due: none

Update fleur-release.yml
  .github/workflows/fleur-release.yml
Due: none

Add flag to force getting the schemas from the fleur git
  masci_tools/cmdline/commands/fleur_schema.py
Due: pylint-errors, pylint-warnings

Force git cloning in fleur-release workflow
  .github/workflows/fleur-release.yml
Due: none

FIx typos
  tests/test_fleur_outxml_parser.py
  tests/test_fleurxmlmodifier.py
  tests/test_kkrparser_functions.py
  tests/test_plot_data.py
  tests/test_plotter.py
  tests/xml/test_xml_setter_signatures.py
  tests/xml/test_xml_setters_basic.py
  tests/xml/test_xml_setters_names.py
  tests/xml/test_xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings

More typos
  docs/source/devel_guide/fleur_parser.rst
  docs/source/devel_guide/plotting.rst
  docs/source/user_guide/fleur_plots.rst
  docs/source/user_guide/hdf5_parser.rst
  docs/source/user_guide/plotting.rst
  masci_tools/cmdline/commands/parse.py
  masci_tools/io/fleur_inpgen.py
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/tools/fleur_inpxml_converter.py
  masci_tools/tools/matlabfrag.m
  masci_tools/util/parse_tasks.py
  masci_tools/vis/bokeh_plotter.py
  masci_tools/vis/matplotlib_plotter.py
  masci_tools/vis/plot_methods.py
  tests/test_fleur_inpxml_parser.py
  tests/test_fleurxmlmodifier.py
  tests/test_parse_tasks.py
Due: pylint-errors, pylint-warnings

Move single scatter plot tests to unified directory
  tests/files/mpl-baseline/test_single_scatter_area.png
  tests/files/mpl-baseline/test_single_scatter_defaults.png
  tests/files/mpl-baseline/test_single_scatter_limits.png
  tests/files/mpl-baseline/test_single_scatter_lines.png
  tests/files/mpl-baseline/test_single_scatter_lines_param_change.png
  tests/files/mpl-baseline/test_single_scatter_param_change.png
  tests/files/mpl-baseline/test_single_scatter_scale.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Update pytest mpl to use global directory for pytest mpl images
  pyproject.toml
  tests/run_all.sh
  tests/run_all_cov.sh
  tests/run_all_covhtml.sh
Due: none

Move multiple scatter plot tests to unified directory
  tests/files/mpl-baseline/test_multiple_scatter_area.png
  tests/files/mpl-baseline/test_multiple_scatter_colors_deprecated.png
  tests/files/mpl-baseline/test_multiple_scatter_defaults.png
  tests/files/mpl-baseline/test_multiple_scatter_dict_selection.png
  tests/files/mpl-baseline/test_multiple_scatter_legend.png
  tests/files/mpl-baseline/test_multiple_scatter_param_change.png
  tests/files/mpl-baseline/test_multiple_scatter_scale_limits.png
  tests/files/mpl-baseline/test_multiple_scatter_xticks.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move multiaxis plot tests to unified directory
  tests/files/mpl-baseline/test_multiaxis_defaults.png
  tests/files/mpl-baseline/test_multiaxis_non_standard_layout.png
  tests/files/mpl-baseline/test_multiaxis_overall_param_change.png
  tests/files/mpl-baseline/test_multiaxis_single_subplot_param_change.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move multi scatter plot tests to unified directory
  tests/files/mpl-baseline/test_multi_scatter_defaults.png
  tests/files/mpl-baseline/test_multi_scatter_param_change.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move surface and waterfall plot tests to unified directory
  tests/files/mpl-baseline/test_surface_plot_defaults.png
  tests/files/mpl-baseline/test_waterfall_plot_defaults.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move tests for multiplot_moved to unified directory
  tests/files/mpl-baseline/test_multi_plot_moved_area.png
  tests/files/mpl-baseline/test_multi_plot_moved_defaults.png
  tests/files/mpl-baseline/test_multi_plot_moved_param_change.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move barchart plot tests to unified directory
  tests/files/mpl-baseline/test_barchart_grouped_even_defaults.png
  tests/files/mpl-baseline/test_barchart_grouped_horizontal_param_change.png
  tests/files/mpl-baseline/test_barchart_grouped_odd_defaults.png
  tests/files/mpl-baseline/test_barchart_grouped_param_change.png
  tests/files/mpl-baseline/test_barchart_independent_defaults.png
  tests/files/mpl-baseline/test_barchart_independent_horizontal_defaults.png
  tests/files/mpl-baseline/test_barchart_independent_param_change.png
  tests/files/mpl-baseline/test_barchart_stacked_defaults.png
  tests/files/mpl-baseline/test_barchart_stacked_horizontal_param_change.png
  tests/files/mpl-baseline/test_barchart_stacked_param_change.png
  tests/files/plot_methods/matplotlib/barchart/defaults.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move residuen plot test to unified directory
  tests/files/mpl-baseline/test_residuen_defaults.png
  tests/files/mpl-baseline/test_residuen_no_hist.png
  tests/files/mpl-baseline/test_residuen_param_change_hist_plot.png
  tests/files/mpl-baseline/test_residuen_param_change_residue_plot.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move histogram tests to unified directory
  tests/files/mpl-baseline/test_histogram_defaults.png
  tests/files/mpl-baseline/test_histogram_param_change.png
  tests/files/mpl-baseline/test_histogram_stacked_defaults.png
  tests/files/mpl-baseline/test_histogram_stacked_param_change.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Move colormesh plot tests to unified directory
  tests/files/mpl-baseline/test_colormesh_defaults.png
  tests/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/fleur_schema/.*py|
)$ and \.py$
  version-number: any of: (?x)^(
  setup.py|
  utils/validate_version_consistency.py|
  masci_tools/__init__.py|
  .bumpversion.cfg
)$
