Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Delete banddos_analysis_1.mlapp
  masci_tools/tools/banddos_analysis_1.mlapp
Due: none

Delete molecule3D.m
  masci_tools/tools/molecule3D.m
Due: none

Delete banddos_analysis_1.prj
  masci_tools/tools/banddos_analysis_1.prj
Due: none

Delete matlabfrag.m
  masci_tools/tools/matlabfrag.m
Due: none

Delete mlf2pdf.m
  masci_tools/tools/mlf2pdf.m
Due: none

Delete plotting.m
  masci_tools/tools/plotting.m
Due: none

Delete saving_pdf.m
  masci_tools/tools/saving_pdf.m
Due: none

Delete saving_txt.m
  masci_tools/tools/saving_txt.m
Due: none

Create banddos_tool folder
  masci_tools/tools/banddos_tool/empty
Due: none

Create empty
  masci_tools/tools/EELS_tool/empty
Due: none

Make limit handling for colors more consistent
  masci_tools/tools/cf_calculation.py
  masci_tools/vis/matplotlib_plotter.py
  masci_tools/vis/plot_methods.py
  tests/files/fleur_vis/bands_weighted_log_scale_colorbar.png
  tests/files/mpl-baseline/test_surface_plot_defaults.png
  tests/vis/test_fleur_vis.py
Due: pylint-errors, pylint-warnings

Improve colorbar creation
  masci_tools/vis/matplotlib_plotter.py
  masci_tools/vis/plot_methods.py
  tests/files/fleur_vis/bands_weighted_log_scale_colorbar.png
  tests/files/fleur_vis/bands_weighted_log_scale_colorbar_spinpol.png
  tests/vis/test_fleur_vis.py
Due: pylint-errors, pylint-warnings

Move common code block in XML functions into separate function
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Start moving some common code blocks into helpers module
  masci_tools/vis/helpers.py
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings

Move replacement of kpoint labels with latex symbols into one function
  masci_tools/vis/bokeh_plots.py
  masci_tools/vis/helpers.py
  masci_tools/vis/plot_methods.py
  tests/tools/test_greensfunction/bokeh-2.4.2/test_plot_kresolved_greensfunction_mpl_bokeh.yml
  tests/tools/test_greensfunction/spectral_function.png
Due: pylint-errors, pylint-warnings

Move logic of plotting a single line or area with matplotlib into function
  masci_tools/vis/helpers.py
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings

better naming
  masci_tools/vis/helpers.py
Due: pylint-errors, pylint-warnings

Add to autodoc
  docs/source/module_guide/code.rst
Due: none

Add missing docstring
  masci_tools/vis/helpers.py
Due: pylint-errors, pylint-warnings

Add tests for plotting weights not conforming to the spin naming conventions that `plot_fleur_bands` assumes for the data from the hdf5 file
  masci_tools/vis/fleur.py
  tests/files/fleur_vis/bands_weighted_non_spinpol_custom_weight.png
  tests/files/fleur_vis/bands_weighted_spinpol_custom_weight.png
  tests/files/fleur_vis/bands_weighted_spinpol_force_non_spinpol_custom_weight.png
  tests/vis/test_fleur_vis.py
Due: pylint-errors, pylint-warnings

uploaded matlab tool for plotting EELS
  masci_tools/tools/EELS_tool/banddos_analysis_4.mlapp
  masci_tools/tools/EELS_tool/banddos_analysis_tool_4_1.mlappinstall
  masci_tools/tools/EELS_tool/banddos_analysis_tool_4_1.prj
  masci_tools/tools/EELS_tool/matlabfrag.m
  masci_tools/tools/EELS_tool/mlf2pdf.m
  masci_tools/tools/EELS_tool/molecule3D.m
  masci_tools/tools/EELS_tool/plotting.m
  masci_tools/tools/EELS_tool/saving_pdf.m
  masci_tools/tools/EELS_tool/saving_txt.m
Due: none

Delete masci_tools/tools/EELS_tool directory
  masci_tools/tools/EELS_tool/banddos_analysis_4.mlapp
  masci_tools/tools/EELS_tool/banddos_analysis_tool_4_1.mlappinstall
  masci_tools/tools/EELS_tool/banddos_analysis_tool_4_1.prj
  masci_tools/tools/EELS_tool/empty
  masci_tools/tools/EELS_tool/matlabfrag.m
  masci_tools/tools/EELS_tool/mlf2pdf.m
  masci_tools/tools/EELS_tool/molecule3D.m
  masci_tools/tools/EELS_tool/plotting.m
  masci_tools/tools/EELS_tool/saving_pdf.m
  masci_tools/tools/EELS_tool/saving_txt.m
Due: none

uploaded matlab tool for unfolding
  masci_tools/tools/banddos_tool/banddos_analysis_4.mlapp
  masci_tools/tools/banddos_tool/banddos_analysis_tool_4_1.mlappinstall
  masci_tools/tools/banddos_tool/banddos_analysis_tool_4_1.prj
  masci_tools/tools/banddos_tool/matlabfrag.m
  masci_tools/tools/banddos_tool/mlf2pdf.m
  masci_tools/tools/banddos_tool/molecule3D.m
  masci_tools/tools/banddos_tool/plotting.m
  masci_tools/tools/banddos_tool/saving_pdf.m
  masci_tools/tools/banddos_tool/saving_txt.m
Due: none

added folder for EELS
  masci_tools/tools/EELS_tool/empty
Due: none

added EELS tool (for summation)
  masci_tools/tools/EELS_tool/dielec_tool_d0_jan.mlappinstall
  masci_tools/tools/EELS_tool/dielec_tool_d0_jan.prj
  masci_tools/tools/EELS_tool/dielec_tool_d0_new.mlapp
  masci_tools/tools/EELS_tool/matlabfrag.m
  masci_tools/tools/EELS_tool/mlf2pdf.m
  masci_tools/tools/EELS_tool/saving_pdf.m
  masci_tools/tools/EELS_tool/saving_txt.m
Due: none

Update Changelog
  CHANGELOG.md
Due: none

Add option to include spherical but not atomic contributions to charge density in CFCalculation
  CHANGELOG.md
  masci_tools/tools/cf_calculation.py
Due: pylint-errors, pylint-warnings

Update to pylint 2.14
  masci_tools/io/parsers/fleur_schema/inpschema_todict.py
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/vis/bokeh_plots.py
  masci_tools/vis/helpers.py
  pyproject.toml
  tests/vis/test_plot_data.py
Due: pylint-errors, pylint-warnings, mypy

`get_parameter_data`: Also try to extract, whether `gamma=T` was used in the kpoint generation
  CHANGELOG.md
  masci_tools/util/xml/xml_getters.py
  tests/files/fleur/test_multiple_ksets.xml
  tests/xml/test_xml_getters.py
  tests/xml/test_xml_getters/test_kpoints_multiple_sets.yml
  tests/xml/test_xml_getters/test_parameter_kpoint_with_gamma.yml
Due: pylint-errors, pylint-warnings, mypy

Formatting fixes
  masci_tools/io/parsers/fleur_schema/inpschema_todict.py
  masci_tools/testing/bokeh.py
  masci_tools/tools/EELS_tool/dielec_tool_d0_jan.prj
  masci_tools/tools/EELS_tool/empty
  masci_tools/tools/EELS_tool/matlabfrag.m
  masci_tools/tools/EELS_tool/saving_pdf.m
  masci_tools/tools/EELS_tool/saving_txt.m
  masci_tools/tools/banddos_tool/banddos_analysis_tool_4_1.prj
  masci_tools/tools/banddos_tool/matlabfrag.m
  masci_tools/tools/banddos_tool/molecule3D.m
  masci_tools/tools/banddos_tool/plotting.m
  masci_tools/tools/banddos_tool/saving_pdf.m
  masci_tools/tools/banddos_tool/saving_txt.m
  masci_tools/vis/helpers.py
Due: pylint-errors, pylint-warnings, mypy

Fix for HDF5Reader
  CHANGELOG.md
  masci_tools/io/parsers/hdf5/reader.py
Due: pylint-errors, pylint-warnings, mypy

HDF5Reader: Implement fallback if h5py.File cannot be constructed because of compression
  CHANGELOG.md
  masci_tools/io/parsers/hdf5/reader.py
  tests/io/test_hdf5_reader.py
Due: pylint-errors, pylint-warnings, mypy

Fixes for last commit
  masci_tools/io/parsers/hdf5/reader.py
  tests/io/test_hdf5_reader.py
Due: pylint-errors, pylint-warnings, mypy

This test fails for python 3.7, since this is irrelavant for aiida v2 (3.8+) we skip it
  tests/io/test_hdf5_reader.py
Due: pylint-errors, pylint-warnings

Fleur IO: Accept the whole content of the XML file given as a string
  CHANGELOG.md
  masci_tools/io/fleur_xml.py
  tests/io/test_io_fleurxml.py
Due: pylint-errors, pylint-warnings

Make sure that trace_energy_dependence can be used for the full spin matrix
  masci_tools/tools/greensfunction.py
  tests/tools/test_greensfunction.py
Due: pylint-errors, pylint-warnings, mypy

Add function to get the green's function matrix combined of orbital and spin (dimension [(2*l+1) + (2*lp+1)] x [(2*lp+1) + (2*l+1)]
  masci_tools/tools/greensfunction.py
  tests/tools/test_greensfunction.py
Due: pylint-errors, pylint-warnings, mypy

Correct warning text
  masci_tools/testing/bokeh.py
Due: pylint-errors, pylint-warnings

Fix file handling in Inpgen IO tests
  masci_tools/io/fleur_inpgen.py
  tests/io/test_fleur_inpgen.py
Due: pylint-errors, pylint-warnings, mypy

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/io_fleurxml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/parse_task_decorators.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_tasks.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/cmdline/parameters/slice.py|
)$ and \.py$
