Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Fix some pre-commit warnings
  masci_tools/io/kkr_params.py
  masci_tools/io/kkr_read_shapefun_info.py
  masci_tools/io/modify_potential.py
  masci_tools/vis/kkr_plot_FS_qdos.py
  masci_tools/vis/kkr_plot_dos.py
  masci_tools/vis/kkr_plot_shapefun.py
  tests/test_kkrimp_tools.py
Due: pylint-errors, pylint-warnings

Small bugfix to last commit
  masci_tools/vis/kkr_plot_dos.py
Due: pylint-errors, pylint-warnings

Fix wrong string formatting in cmdline tests
  tests/cmdline/test_fleur_schema.py
  tests/cmdline/test_inpxml_converter.py
  tests/cmdline/test_parse.py
  tests/cmdline/test_plot.py
Due: pylint-errors, pylint-warnings

Fix some pre-commit warnings
  masci_tools/vis/data.py
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings

Fix **ALL** remaining pylint warnings
  masci_tools/util/chemical_elements.py
  masci_tools/util/math_util.py
  masci_tools/util/python_util.py
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings, mypy

New XML setter for easier specification of XC functional including LibXC
  masci_tools/util/xml/xml_setters_names.py
  tests/xml/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

New XML setter for creating kpoint meshes with spglib using the symmetries of the inp.xml
  masci_tools/util/xml/xml_setters_names.py
  pyproject.toml
  tests/xml/test_xml_setters_names.py
  tests/xml/test_xml_setters_names/test_set_kpointmesh.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_film.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_full_bz.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_shift.yml
Due: pylint-errors, pylint-warnings, mypy

New XML setter for creating a kpoint path using the ASE bandpath function
  masci_tools/util/xml/xml_setters_names.py
  pyproject.toml
  tests/xml/test_xml_setters_names.py
  tests/xml/test_xml_setters_names/test_set_kpointpath.yml
  tests/xml/test_xml_setters_names/test_set_kpointpath_custom_points.yml
  tests/xml/test_xml_setters_names/test_set_kpointpath_film.yml
Due: pylint-errors, pylint-warnings, mypy

Regenerate test file and add spglib to intersphinx
  docs/source/conf.py
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
Due: none

Fix docstrings
  masci_tools/io/fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings, mypy

Typing
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Add XML setters to FleurXMLModifier
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/collect_xml_setters.py
Due: pylint-errors, pylint-warnings, mypy

`set_kpointmesh` now maps to the same bz interval as the gamma option of the fleur kpoint generator
  masci_tools/util/xml/xml_setters_names.py
  tests/xml/test_xml_setters_names.py
  tests/xml/test_xml_setters_names/test_set_kpointmesh_no_map.yml
Due: pylint-errors, pylint-warnings, mypy

update test file
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
Due: none

Add more tests
  tests/xml/test_xml_setters_names.py
Due: pylint-errors, pylint-warnings

update docstring
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

update changelog
  CHANGELOG.md
Due: none

✨ NEW: XML setters for kpoint path generation (ASE), mesh generation (spglib) and setting LibXC functionals (#183)
  CHANGELOG.md
  docs/source/conf.py
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/collect_xml_setters.py
  masci_tools/util/xml/xml_setters_names.py
  pyproject.toml
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
  tests/xml/test_xml_setters_names.py
  tests/xml/test_xml_setters_names/test_set_kpointmesh.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_film.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_full_bz.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_no_map.yml
  tests/xml/test_xml_setters_names/test_set_kpointmesh_shift.yml
  tests/xml/test_xml_setters_names/test_set_kpointpath.yml
  tests/xml/test_xml_setters_names/test_set_kpointpath_custom_points.yml
  tests/xml/test_xml_setters_names/test_set_kpointpath_film.yml
Due: pylint-errors, pylint-warnings, mypy

Bugfix in `clear_xml` for comment removal
  CHANGELOG.md
  masci_tools/util/xml/common_functions.py
  tests/files/fleur/test_clear_multiple_comments.xml
  tests/xml/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Bugfix in `clear_xml` for comment removal (#193)
  CHANGELOG.md
  masci_tools/util/xml/common_functions.py
  tests/files/fleur/test_clear_multiple_comments.xml
  tests/xml/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Fix condition in `ensure_relaxation_xinclude`
  CHANGELOG.md
  masci_tools/util/schema_dict_util.py
  tests/xml/test_schema_dict_util.py
Due: pylint-errors, pylint-warnings, mypy

Fix condition in `ensure_relaxation_xinclude` (#194)
  CHANGELOG.md
  masci_tools/util/schema_dict_util.py
  tests/xml/test_schema_dict_util.py
Due: pylint-errors, pylint-warnings, mypy

Add docs for kkr plotting tools
  docs/source/user_guide/files/kkr_bandstruc/inputcard
  docs/source/user_guide/files/kkr_bandstruc/potential
  docs/source/user_guide/files/kkr_bandstruc/qdos.01.1.dat
  docs/source/user_guide/files/kkr_bandstruc/qvec.dat
  docs/source/user_guide/files/kkr_dos/complex.dos
  docs/source/user_guide/files/kkr_dos/dos.atom1
  docs/source/user_guide/files/kkr_dos/potential
  docs/source/user_guide/index.md
  docs/source/user_guide/kkr_plots.md
Due: none

Try to fix test failures by updating pytest
  pyproject.toml
Due: none

Forgot one plot
  tests/tools/test_greensfunction/spectral_function.png
Due: none

Drop 3.7 testing
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Bugfix in task_list property of FleurXMLModifier
  CHANGELOG.md
  masci_tools/io/fleurxmlmodifier.py
  tests/io/test_fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings, mypy

Revert pytest upgrade (no longer necessary)
  pyproject.toml
Due: none

Correct versions and add 0.36 to working versions
  masci_tools/io/parsers/fleur/default_parse_tasks.py
  tests/files/fleur/output_newer_version.xml
  tests/parsers/test_fleur_outxml_parser/test_outxml_newer_version.yml
Due: pylint-errors, pylint-warnings, mypy

[fleur release] Fleur schema update
  masci_tools/io/parsers/fleur_schema/0.36/FleurInputSchema.xsd
  masci_tools/io/parsers/fleur_schema/0.36/FleurOutputSchema.xsd
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_newer_version.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_no_iterations.yml
  tests/parsers/test_schema_dict/test_inpschema_dict_0_36_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_29_0_36_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_30_0_36_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_31_0_36_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_33_0_36_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_34_0_36_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_35_0_36_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_36_0_33_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_36_0_34_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_36_0_35_.yml
  tests/parsers/test_schema_dict/test_outschema_dict_0_36_0_36_.yml
Due: none

Add test files
  tests/files/fleur/Max-R6.1/inp.xml
  tests/files/fleur/Max-R6.1/out.xml
  tests/files/fleur/input_newer_version.xml
  tests/parsers/test_fleur_inpxml_parser.py
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_max6_1_compatibility.yml
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_newer_version.yml
  tests/parsers/test_fleur_outxml_parser.py
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_1_compatibility.yml
Due: pylint-errors, pylint-warnings

Update changelog
  CHANGELOG.md
Due: none

Fix bug in placement of multiple colorbars
  masci_tools/vis/matplotlib_plotter.py
  tests/files/fleur_vis/bands_weighted_log_scale_colorbar_spinpol.png
Due: pylint-errors, pylint-warnings

Update compatibility tables in docs
  docs/source/user_guide/fleur_parser.md
Due: none

fix changelog
  CHANGELOG.md
Due: none

Update test files
  tests/files/cf_calculation/cf_potential.png
  tests/files/fleur_vis/bands_weighted_log_scale_colorbar.png
  tests/files/mpl-baseline/test_colormesh_defaults.png
  tests/files/mpl-baseline/test_surface_plot_defaults.png
  tests/files/mpl-baseline/test_waterfall_plot_defaults.png
  tests/tools/test_greensfunction/spectral_function.png
Due: none

Bugfix for placement of multiple colorbars in matplotlib plots (#198)
  CHANGELOG.md
  masci_tools/vis/matplotlib_plotter.py
  tests/files/cf_calculation/cf_potential.png
  tests/files/fleur_vis/bands_weighted_log_scale_colorbar.png
  tests/files/fleur_vis/bands_weighted_log_scale_colorbar_spinpol.png
  tests/files/mpl-baseline/test_colormesh_defaults.png
  tests/files/mpl-baseline/test_surface_plot_defaults.png
  tests/files/mpl-baseline/test_waterfall_plot_defaults.png
  tests/tools/test_greensfunction/spectral_function.png
Due: pylint-errors, pylint-warnings

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/fleur_xml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/tools/greensf_calculations.py|
    masci_tools/cmdline/parameters/slice.py|
    masci_tools/vis/parameters.py|
    masci_tools/util/ipython.py|
)$ and \.py$
