Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Add test files for new 0.37 XML file versions
  masci_tools/io/parsers/fleur/default_parse_tasks.py
  tests/files/fleur/Max-R6.2/inp.xml
  tests/files/fleur/Max-R6.2/out.xml
  tests/files/fleur/Max-R6.2/out_noco.xml
  tests/parsers/test_fleur_inpxml_parser.py
  tests/parsers/test_fleur_inpxml_parser/test_inpxml_max6_2_compatibility.yml
  tests/parsers/test_fleur_outxml_parser.py
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_2_compatibility.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_2_noco_compatibility.yml
Due: pylint-errors, pylint-warnings, mypy

bump version 0.14.0 -> 0.15.0
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

update changelog entry for new release
  CHANGELOG.md
Due: none

Update cd.yml
  .github/workflows/cd.yml
Due: none

Reduce config duplication by reusing ci.yml jobs in cd.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Fix syntax in cd.yml
  .github/workflows/cd.yml
Due: none

Correct archive cache names in ci
  .github/workflows/ci.yml
Due: none

Remove module stubs and two deprecated functions
  masci_tools/io/cif2inp_ase.py
  masci_tools/io/io_fleurxml.py
  masci_tools/io/parsers/fleur/fleur_schema/__init__.py
  masci_tools/util/parse_tasks_decorators.py
  masci_tools/util/schema_dict_util.py
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings, mypy

Expire more deprecations
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings, mypy

Expire deprecations in Fleurxmlmodifier
  masci_tools/io/fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings, mypy

Expire bokeh deprecations
  masci_tools/vis/bokeh_plots.py
  masci_tools/vis/fleur.py
Due: pylint-errors, pylint-warnings

Expire matplotlib deprecations
  masci_tools/vis/plot_methods.py
Due: pylint-errors, pylint-warnings

Adjust tests
  tests/io/test_fleurxmlmodifier.py
  tests/vis/test_bokeh_plots.py
  tests/vis/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Remove erroneously passed constants argument in xml_getters
  masci_tools/io/parsers/fleur/fleur_outxml_parser.py
Due: pylint-errors, pylint-warnings, mypy

fix tests
  tests/vis/test_bokeh_plots.py
  tests/vis/test_plot_methods.py
Due: pylint-errors, pylint-warnings

Use codecov action instead of pip install
  .github/workflows/ci.yml
Due: none

Update test name as / is not allowed in artifact names
  .github/workflows/ci.yml
Due: none

Add minimal requirements for using the complete fleur IO routines
  .github/workflows/ci.yml
  requirements_fleur_minimal.txt
Due: none

fix python version
  .github/workflows/ci.yml
Due: none

fix pip command
  .github/workflows/ci.yml
Due: none

Add missing dependencies
  .github/workflows/ci.yml
Due: none

another
  .github/workflows/ci.yml
Due: none

Even more usage-examples
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Start experimenting with some link layouts on the actual fleurxmlmodifier site
  docs/source/conf.py
  docs/source/user_guide/fleurxmlmodifier.md
  docs/source/user_guide/fleurxmlmodifier_usage_examples/template.md.jinja
  masci_tools/util/sphinxext/usage_examples.py
Due: pylint-errors, pylint-warnings

Delete comment from example file to reduce noise
  docs/Makefile
  docs/source/user_guide/fleurxmlmodifier_usage_examples/files/inp.xml
Due: none

Fixes after rebase
  docs/source/reference/module_guide/index.md
  docs/source/reference/module_guide/index.rst
  docs/source/reference/module_guide/sphinxext.md
  docs/source/user_guide/fleurxmlmodifier_usage_examples/index.md
  docs/source/user_guide/index.md
  docs/source/user_guide/index.rst
Due: none

Move the sphinx extension stuff into a subfolder for nicer organization
  docs/source/reference/module_guide/index.rst
  docs/source/reference/module_guide/sphinxext.rst
  masci_tools/util/sphinxext/__init__.py
  masci_tools/util/sphinxext/usage_examples.py
Due: pylint-errors, pylint-warnings

Improve template
  docs/source/reference/module_guide/sphinxext.rst
  docs/source/user_guide/fleurxmlmodifier_usage_examples/index.rst
  docs/source/user_guide/fleurxmlmodifier_usage_examples/template.md.jinja
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

typing
  .pre-commit-config.yaml
  masci_tools/util/sphinxext/__init__.py
  masci_tools/util/sphinxext/usage_examples.py
Due: pylint-errors, pylint-warnings

Adjust colors in XML diff function
  masci_tools/util/ipython.py
Due: pylint-errors, pylint-warnings, mypy

Clearer docstring
  masci_tools/util/sphinxext/usage_examples.py
Due: pylint-errors, pylint-warnings

Move error handling in schema_dict into function
  masci_tools/io/parsers/fleur_schema/schema_dict.py
Due: pylint-errors, pylint-warnings, mypy

WIP: Autogenerate Usage examples in the documentation
  .gitignore
  docs/source/conf.py
  docs/source/user_guide/fleurxmlmodifier_usage_examples/config.yml
  docs/source/user_guide/fleurxmlmodifier_usage_examples/files/inp.xml
  docs/source/user_guide/fleurxmlmodifier_usage_examples/template.md.jinja
  docs/source/user_guide/index.rst
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/sphinxext.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Cleanup conf.py
  docs/source/conf.py
Due: none

Add short descriptions to setter functions
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_basic.py
  masci_tools/util/xml/xml_setters_names.py
  utils/write_fleurxmlmodifier_docstrings.py
Due: pylint-errors, pylint-warnings, mypy

More examples
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Improve template with contents and nested heading
  docs/source/user_guide/fleurxmlmodifier_usage_examples/template.md.jinja
  masci_tools/util/sphinxext.py
Due: pylint-errors, pylint-warnings

Add more usage examples and add them to the toctree temporarily
  docs/source/user_guide/fleurxmlmodifier_usage_examples/index.rst
  docs/source/user_guide/fleurxmlmodifier_usage_examples/template.md.jinja
  docs/source/user_guide/index.rst
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_names.py
Due: pylint-errors, pylint-warnings, mypy

Add make step to docs to run the fleurxmlmodfier docstring write script
  docs/Makefile
Due: none

Move finding paths to attributes from tag names into separate method
  masci_tools/io/parsers/fleur_schema/schema_dict.py
Due: pylint-errors, pylint-warnings, mypy

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/.*py|
    masci_tools/io/parsers/fleur_schema/.*py|
    masci_tools/io/parsers/hdf5/.*py|
    masci_tools/io/io_nmmpmat.py|
    masci_tools/io/fleur_xml.py|
    masci_tools/io/fleur_inpgen.py|
    masci_tools/io/hdf5_util.py|
    masci_tools/io/fleurxmlmodifier.py|
    masci_tools/io/common_functions.py|
    masci_tools/util/xml/.*py|
    masci_tools/util/lockable_containers.py|
    masci_tools/util/case_insensitive_dict.py|
    masci_tools/util/schema_dict_util.py|
    masci_tools/util/logging_util.py|
    masci_tools/util/python_util.py|
    masci_tools/util/math_util.py|
    masci_tools/util/parse_utils.py|
    masci_tools/util/typing.py|
    masci_tools/util/econfig.py|
    masci_tools/util/fleur_calculate_expression.py|
    masci_tools/tools/fleur_inpxml_converter.py|
    masci_tools/tools/greensfunction.py|
    masci_tools/tools/greensf_calculations.py|
    masci_tools/cmdline/parameters/slice.py|
    masci_tools/vis/parameters.py|
    masci_tools/util/ipython.py|
)$ and \.py$
