Repository JuDFTteam/masci-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-errors, pylint-warnings, mypy, version-number

pylint-errors:
  name: pylint-errors
  entry: pylint
  args:
  - -d
  - W
  - -d
  - R
  - -d
  - C
  verbose: true
  language: system

pylint-warnings:
  name: pylint-warnings
  entry: pylint
  verbose: true
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Adjust tests
  tests/parsers/test_parse_tasks.py
Due: pylint-errors, pylint-warnings

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Adjust to conversions update
  masci_tools/io/parsers/fleur/default_parse_tasks.py
Due: pylint-errors, pylint-warnings

Add Changelog entry for added Fleur file schemas
  CHANGELOG.md
Due: none

Fix parse symmetry command
  masci_tools/cmdline/commands/parse.py
Due: pylint-errors, pylint-warnings

Cleanup in xml_getters
  masci_tools/util/xml/common_functions.py
  masci_tools/util/xml/xml_getters.py
Due: pylint-errors, pylint-warnings

Fix last commit
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings

Cleanup eval_xpath
  masci_tools/util/xml/common_functions.py
Due: pylint-errors, pylint-warnings

Bugfix for relative xpath finding root tag names contained in other tag names would lead to invalid xpaths produced
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/util/xml/common_functions.py
  tests/parsers/test_schema_dict.py
  tests/xml/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings

formatting fixes
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/util/xml/common_functions.py
  tests/parsers/test_schema_dict.py
  tests/xml/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings

Make detection whether a xpath contains a tag more robust
  masci_tools/io/parsers/fleur_schema/schema_dict.py
  masci_tools/util/xml/common_functions.py
  tests/xml/test_xml_common_functions.py
Due: pylint-errors, pylint-warnings

Add changelog entry
  CHANGELOG.md
Due: none

Initial commit for periodic_table_plot refactor
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings

Fix three occurences where the save_plots argument was wrongly handled in bokeh plot routines
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings

Remove useless stubs for bands plots that should now be completely possible
  masci_tools/vis/plot_methods.py
  pyproject.toml
Due: pylint-errors, pylint-warnings

Remove stub for convex_hull plot
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings

Finish up initial implementation and add test for defaults
  masci_tools/vis/bokeh_plots.py
  tests/vis/test_bokeh_plots.py
  tests/vis/test_bokeh_plots/bokeh-1.4.0/test_periodic_table_plot_defaults.yml
Due: pylint-errors, pylint-warnings

Forgot to readd docstring
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings

Fix syntax error
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings

Add deprecations for old arguments
  masci_tools/vis/bokeh_plots.py
Due: pylint-errors, pylint-warnings

Add parsing of vector of global magnetic moments for Max6 output versions
  masci_tools/io/parsers/fleur/default_parse_tasks.py
  tests/files/fleur/Max-R6/out_noco.xml
  tests/files/fleur/output_newer_version.xml
  tests/parsers/test_fleur_outxml_parser.py
  tests/parsers/test_fleur_outxml_parser/test_outxml_max6_0_noco_vec.yml
  tests/parsers/test_fleur_outxml_parser/test_outxml_newer_version.yml
Due: pylint-errors, pylint-warnings

Add Changelog entry
  CHANGELOG.md
Due: none

Fix test
  tests/parsers/test_parse_tasks.py
Due: pylint-errors, pylint-warnings

Reactivate extraction of special los with ederiv <= 1 in get_parameter_data
  masci_tools/util/xml/converters.py
  tests/files/fleur/inp_special_los.xml
  tests/xml/test_xml_getters/test_parameter_special_los.yml
Due: pylint-errors, pylint-warnings

Add switch to obtain the old behaviour of not extracting higher order los
  masci_tools/util/xml/converters.py
  masci_tools/util/xml/xml_getters.py
  tests/xml/test_xml_getters.py
  tests/xml/test_xml_getters/test_parameter_special_los_not_allowed.yml
Due: pylint-errors, pylint-warnings

bump version 0.7.2 -> 0.8.0
  masci_tools/__init__.py
  pyproject.toml
Due: pylint-errors, pylint-warnings, version-number

Add new changelog entry
  CHANGELOG.md
Due: none

Cleanup xml_setters_basic
  masci_tools/util/xml/xml_setters_basic.py
Due: pylint-errors, pylint-warnings

Deprecate signature changes in the FleurXMLModifier
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_basic.py
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
Due: pylint-errors, pylint-warnings

Cleanup xml_setters_xpaths to reflect changes on low-level functions
  masci_tools/util/xml/xml_setters_xpaths.py
Due: pylint-errors, pylint-warnings

Cleanup signatures of xml_setters_names. Main changes are
  masci_tools/io/fleurxmlmodifier.py
  masci_tools/util/xml/xml_setters_names.py
  masci_tools/util/xml/xml_setters_xpaths.py
  tests/xml/test_xml_setter_signatures/test_xml_setter_signatures.yml
Due: pylint-errors, pylint-warnings

Adjust fleurxmlmodifier tests
  tests/io/test_fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings

Test fleuxmlmodifier deprecations more rigorously
  masci_tools/io/fleurxmlmodifier.py
  tests/io/test_fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings

The last commit fixed a problem with the _validate_signature method where the method could not use the an argument named `name` passed as a keyword argument
  masci_tools/io/fleurxmlmodifier.py
Due: pylint-errors, pylint-warnings

Fix formatting
  CHANGELOG.md
Due: none

Path conditions:
  pylint-errors: any of: \.py$, but not: ^(docs/)|(examples/)
  pylint-warnings: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    masci_tools/io/parsers/fleur/fleur_schema/.*py|
)$ and \.py$
  version-number: any of: (?x)^(
  setup.py|
  utils/validate_version_consistency.py|
  masci_tools/__init__.py|
  .bumpversion.cfg
)$
